/*
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
*/

body {/* 4B97FF */
    padding: 0; margin: 0;
}
* {
    font-family: Courier, monospace;
}

*:focus {
  outline: none;
}


h1 {
  background-color: #2E5C9C;
  color : white;
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.5em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
  margin: 0;
}

h2 {
  background-color: #2E5C9C;
  color:white;
  text-align: center;
  padding-top: 0.83em;
  padding-bottom: 0.83em;
  margin: 0;
  margin: 10;
  margin-bottom: 0.83em;
}

#authors {
  float:right;
}
select, button {
  background-color: white;
  color:#2E5C9C;
  border : none;
  font-size: 15;
  padding: 5;
  cursor: pointer;
}

#save_button {
  background-color: #2E5C9C;
  color:white;
}

#header_info {
  background-color: #2E5C9C;
}

.column {
  float: left;
  width: 27%;
}

.column.left {
  width: 46%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.note {
  background-color: rgb(200,200,200);
}

.paragraph {
  background-color: rgb(230,230,230);

}

#logo {
  float: left;
}

#div_player{
  position: absolute;
  top:200;
  left:200;
}
