/*
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
*/

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
 body {
  font-family: Courier, monospace;
  background: #f6f6f6;
}
*:focus {
  outline: none;
}
form  {
  text-align: center;
}

input[type=text], input[type=password] {
  font-family : inherit;
  font-size: 15;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  font-family : inherit;
  font-size: 15;
  background-color: #2E5C9C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

input[type=submit]:hover, a:hover {
  opacity: 0.8;
}

form label{
  text-align: left;
}

a {
  text-decoration: none;
}

#captcha input{
  width: 12%;
}

#img_logo{
  text-align: center;
  margin-bottom: 10px;
}

#msg {
  text-align: center;
  margin-bottom: 10px;
  color:red;
}

#click_login, #click_sign_up {
  font-family: inherit;
  font-size: 15;
  background-color: #2E5C9C;
  color: white;
  padding: 14px 20px;
  margin-left: 25%;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  text-align: center;
}

.login {
  margin: auto;
  width: 30%;
}


@media all and (orientation: portrait) {
  input[type=text], input[type=password], a {
    width: 100%;
  }

  input[type=submit], a {
    width: 100%;
  }

  #click_login, #click_sign_up {
    width: 100%;
    margin-left: 0;
  }

  .login {
    width: 100%;
  }

}
