/*
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
*/

@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

.register_notes div p{
  padding: 0 5;
  margin: 10 0;
  min-width: 200px;
}

.register_notes div {
  display: flex;
}

.register_notes div:last-child {
  margin-left: auto;
}

#add_note p {
  margin: 0;
}

#add_note {
  background-color: white;
  margin: 10;
  width: fit-content;
  padding: 10;
  border: 2px solid #2E5C9C;
}

.wrap_notes {
  width: 60%;
  margin: 5px 15%;
  background-color: white;
  padding: 2%;
}

@viewport{
    width: device-width;
}

@media screen and (max-width: 900px) {
  .wrap_notes{
    margin:0;
    width: 100%;
  }
}

.wrap_notes div div, .register_notes div p{
  /* font-family: 'Reenie Beanie', cursive; */
  font-family: inherit;
  min-height: 15px;
}

select {
  background-color: #2E5C9C;
  color: white;
  cursor : pointer;
  text-decoration: none;
  border: none;
  padding: 10;
  margin: 5 10;
  min-width: 150;
  min-height: 30;
}

button {
  background-color: #2E5C9C;
  color: white;
  cursor : pointer;
  text-decoration: none;
  border: none;
  padding: 5;
  min-height: 15;
}

button:hover, select:hover {
  background-color: #003d99;
  }

.wrap_notes div h3{
  font-size: 30;
  text-align: center;
}

#list_note div{
  display: inline-block;
  margin: 5 10;
  padding: 10;
  background-color: white;
  cursor: pointer;
}

table td{
  border: 1px solid black;
  padding: 0;
}

table td:hover {
  background-color: black;
  color: white;
}

table {
  border-collapse: separate;
  border-spacing: 2 10;
}

.notes {
  border: 1px solid black;
}

#created_notes {
  padding: 10 0;
  min-height: 100%;
  background-color : #CCC;
}
