
.presentation {
  width: 60%;
  margin:auto;
}

.presentation .title {
  text-align: center;
  width: 100%;
  background-color: #2E5C9C;
  color: white;
  font-size: 60px;
}

.presentation .title span {
  display:inline-block;
  background:#f6f6f6;
  color:#2E5C9C;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

footer {
  width: 60%;
  margin:auto;
  text-align: center;
}

@media all and (orientation: portrait) {
  .presentation {
    width: 100%;
    margin:auto;
  }
  footer {
    width: 100%;
    margin:auto;
    text-align: center;
  }
}

.images_presentation.horizontal {
  width:80%;
  border: 5px solid lightgray;
  margin: 30px 10% ;
}
.images_presentation.vertical {
  width:50%;
  border: 5px solid lightgray;
  margin: 30px 25% ;
}
