/*
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
*/

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
 body {
  font-family: Courier, monospace;
}
form {
  text-align: center;
}

input[type=text], input[type=password], input[type=file] {
  font-family : inherit;
  font-size: 15;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=file] {
  cursor: pointer;
}

input[type=submit] {
  font-family : inherit;
  font-size: 15;
  background-color: #2E5C9C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

input.test_op {
  width:5%;
  padding: 5px;
  text-align: center;
}

form label{
  text-align: left;
}

#img_logo{
  text-align: center;
  margin-bottom: 10px;
}

#msg {
  text-align: center;
  margin-bottom: 10px;
  color:red;
}
