/*
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
*/

body {padding: 0; margin: 0;}

input {outline:none; color:grey; width: 10%; }

h3{color = red;cursor:pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#fileToUpload {
  width: 100%;
  color: white;
}

table {
  border-collapse: collapse;

}

th {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
}
td {
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  background-color: rgb(200,200,200);
}
tr:hover td {
    background-color: rgb(150,150,150);
    cursor: default;
}

tr:hover td:hover {
    background-color: rgb(120,120,120);
    cursor: default;
}

#drag:hover {
  background-color: rgb(143,229,255);
  border-radius: 5px;
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  transform: scale(1.1,1.1);
}

#table-scroll{
  height:50%;
  overflow:auto;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#div_sub, #div_creation {
  overflow:auto;
}

#div_notes div {
  display: table;
}

#div_notes div h3, #div_notes div p{
  display: table-cell;
}

#div_notes div h3 {
  padding: 0 5 0 10;
}

.side, button{
  width: 150;
}

button, select {
  background-color: #2E5C9C;
  color:white;
  border : none;
  font-size: 15;
  padding: 5;
}

.tabs {
  border: 1px solid white;
}

select {
  height: 27;
}

button:hover, select:hover {
  opacity: 0.9;
  cursor: pointer;
}

 input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
 label {
    position: relative;
}
 label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #2E5C9C;
}
 label:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #2E5C9C;
    border-left: 2px solid #2E5C9C;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
}
 input[type="checkbox"]:checked ~ label::before {
    color: #2E5C9C;
}

 input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: translateY(-4px) rotate(-45deg) scale(1);
    -moz-transform: translateY(-4px) rotate(-45deg) scale(1);
    -ms-transform: translateY(-4px) rotate(-45deg) scale(1);
    transform: translateY(-4px) rotate(-45deg) scale(1);
}

 label {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    cursor: pointer;
}
 input[type="checkbox"]:focus + label::before {
    outline: 0;
}

.speaker_part_select {
  background-color: white;
}
