@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
 body {
  font-family: 'EB Garamond', serif;
}
form, a  {
  text-align: center;
}

input[type=text], input[type=password], a {
  font-family : inherit;
  font-size: 15;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit], a {
  font-family : inherit;
  font-size: 15;
  background-color: #2E5C9C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}



input[type=submit]:hover, a:hover {
  opacity: 0.8;
}

form label{
  text-align: left;
}

a {
  text-decoration: none;
}

#img_logo{
  text-align: center;
  margin-bottom: 10px;
}

#msg {
  text-align: center;
  margin-bottom: 10px;
  color:red;
}


.presentation {
  width: 60%;
  margin:auto;
}
