<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/index_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/corpus.css' %}">
<script src="{% static 'kino_app/jquery.min.js' %}"></script>
<script src="{% static 'kino_app/p5.min.js' %}"></script>
<script src="{% static 'kino_app/flexsearch.min.js' %}"></script>
<script src="{% static 'kino_app/addons/p5.dom.min.js' %}"></script>
<script src="{% static 'kino_app/addons/p5.sound.min.js' %}"></script>
<title> Kino AI </title>

<script>
  var corpus = JSON.parse("{{data}}".replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&amp;/g,"&").replace(/&#x27;/g,"'").replace(/&lt;/g,"<").replace(/&gt;/g,">"));
  var actors = JSON.parse("{{actors}}".replace(/&quot;/g,'"'));
  var partitions = JSON.parse("{{partitions}}".replace(/&quot;/g,'"').replace(/&lt;/g,"<").replace(/&gt;/g,">"));
  var project = "{{project}}";
</script>
<div id='header_info'>

<div class="aside">
  <a class="aside" href="{% url 'kino_app:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
</div>
<h1 >Corpus search </h1>
</div>

<div id="top_page" style="display:flex;">
  <div class="wrap_list">
    <h3>Corpus de textes</h3>
    <button onclick="addText()">Add text</button>
    <button onclick="saveTexts()">Save text</button>
    <button onclick="hideShow()">Hide</button>
    <div id="list_text" class="list">
    </div>
  </div>

  <div class="wrap_list">
    <h3>Acteurs</h3>
    <input type="text" id="input_add_actor"/>
    <button onclick="saveActor();">Save</button>
    <div id="list_actors" class="list">
    </div>
  </div>

  <div class="wrap_list">
    <h3>Partitions</h3>
    <button id="btn-export" onclick="exportHTML();">Export to word doc</button>
    <button onclick="newPart();">New</button>
    <button onclick="savePartition();">Save</button>
    <div id="list_partitions" class="list">
    </div>
  </div>
</div>

<div id="choosen_text">
</div>

<div id="text">
  <h1 class="title_text" >Partition</h1>
  <h3 id="date"></h3>
  <div id="content">

  </div>
  <div id="content_edition">
    <div>
      <p id="actor" contenteditable="true" data-text="actor name"></p>
      <p id="act_sugg"></p>
    </div>
    <div>
      <p id="para" contenteditable="true" data-text="search corpus"></p>
      <p id="para_sugg"></p>
    </div>
  </div>
</div>

<div id="add_text">
</div>

<script>

let off = document.getElementById('logo').offsetHeight - document.getElementById("top_page").offsetTop+5;
document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";

document.getElementById('list_partitions').style.marginTop = document.getElementById('list_text').offsetTop - document.getElementById('list_partitions').offsetTop;
document.getElementById('list_actors').style.marginTop = document.getElementById('list_text').offsetTop - document.getElementById('list_actors').offsetTop;

document.getElementById('date').innerText = new Date(Date().split(' ')[0] +" "+ Date().split(' ')[1] +" "+ Date().split(' ')[2]+" "+ Date().split(' ')[3]).toLocaleDateString('fr-FR');
document.getElementById('date').dateOriginal = Date().split(' ')[0] +" "+ Date().split(' ')[1] +" "+ Date().split(' ')[2]+" "+ Date().split(' ')[3];

if(!corpus) {
  corpus = [];
}
if(!partitions) {
  partitions = [];
}
if(!actors) {
  actors = [];
}
if(!project) {
  project = "{{project}}";
}
for(let i=0; i<partitions.length;i++) {
  let part = partitions[i];
  part.id = i;
  let p = document.createElement('p');
  p.innerText = new Date(part.date).toLocaleDateString('fr-FR');
  p.onclick = showPartition;
  p.partition = part;
  let remove_button = document.createElement('button');
  remove_button.part_elem = p;
  remove_button.onclick = removePartition;
  remove_button.innerText = "X";
  let div = document.createElement('div');
  div.append(p);
  div.append(remove_button);
  document.getElementById("list_partitions").append(div);
}

var removed_text = [];
var selected_suggestion;

var index = new FlexSearch({
            encode: "advanced",
            tokenize: "reverse",
            suggest: true,
            cache: true
        });

var index_actors = new FlexSearch({
            encode: "advanced",
            tokenize: "reverse",
            suggest: true,
            cache: true
        });

var data = [];
var data_actors = [];
let i=0;
for(let c of corpus) {
  let p = document.createElement('p');
  p.innerText = c.Title;
  p.onclick = showText;
  let remove_button = document.createElement('button');
  remove_button.title_elem = p;
  remove_button.onclick = removeText;
  remove_button.innerText = "X";
  let div = document.createElement('div');
  div.append(p);
  div.append(remove_button);
  document.getElementById("list_text").append(div);
  for(let para of c.Content.split('\n')) {
    if(para != "") {
      let obj = {'Title':c.Title,'Para':para};
      index.add(i,para);
      data.push(obj);
      i++;
    }
  }
}

for(let i=0; i<actors.length;i++) {
  index_actors.add(i,actors[i].Name);
  data_actors.push(actors[i].Name);
  let p = document.createElement('p');
  p.innerText = actors[i].Name;
  let remove_button = document.createElement('button');
  remove_button.act_elem = p;
  remove_button.onclick = removeAct;
  remove_button.innerText = "X";
  let div = document.createElement('div');
  div.append(p);
  div.append(remove_button);
  document.getElementById("list_actors").append(div);
}

var actors_input = document.getElementById('actor');
var para_input = document.getElementById('para');

actors_input.addEventListener("keyup", actors_input_fn, true);
para_input.addEventListener("keyup", para_input_fn, true);
para_input.addEventListener("keydown", para_prevent, true);


function actors_input_fn() {
  var value = this.innerText;
  var results = index_actors.search(value, 25);
  var entry, childs = document.getElementById('act_sugg').childNodes;
  var i = 0, len = results.length;
  for(; i < len; i++){
      entry = childs[i];
      if(!entry){
          entry = document.createElement("div");
          document.getElementById('act_sugg').appendChild(entry);
      }
      entry.textContent = data_actors[results[i]];
  }
  while(childs.length > len){
      document.getElementById('act_sugg').removeChild(childs[i])
  }
  if(event.key == "Enter" && results.length==1) {
    let h = document.createElement("h3");
    h.innerText = data_actors[results[0]];
    document.getElementById('content').append(h);
    document.getElementById('para').focus();
    this.innerText = "";
    while(  document.getElementById('act_sugg').firstChild) {document.getElementById('act_sugg').firstChild.remove();}
  }
}

function para_prevent() {
  console.log(event.key);
  if(event.key == "ArrowDown") {
    event.preventDefault();
    if(!selected_suggestion && document.getElementById('para_sugg').children.length > 0) {
      selected_suggestion = document.getElementById('para_sugg').children[0];
    } else if(selected_suggestion && selected_suggestion.nextSibling) {
      selected_suggestion = selected_suggestion.nextSibling;
    }
  }
  if(event.key == "ArrowUp") {
    event.preventDefault();
    if(!selected_suggestion && document.getElementById('para_sugg').children.length > 0) {
      selected_suggestion = document.getElementById('para_sugg').children[0];
    } else if(selected_suggestion && selected_suggestion.previousSibling) {
      selected_suggestion = selected_suggestion.previousSibling;
    }
  }
  if(selected_suggestion) {
    for(let c of document.getElementById('para_sugg').children) {
      c.style.color = "black";
    }
    selected_suggestion.style.color = "#2E5C9C";
    window.scroll(0,selected_suggestion.offsetTop);
    console.log(selected_suggestion.para_result);
  }
}

function para_input_fn() {
  if(!selected_suggestion || selected_suggestion == document.getElementById('para_sugg').children[0])
    window.scroll(0,this.offsetTop);
  var value = this.innerText;
  var results = index.search(value, 25);
  var entry, childs = document.getElementById('para_sugg').childNodes;
  var i = 0, len = results.length;
  for(; i < len; i++){
      entry = childs[i];
      if(!entry){
          entry = document.createElement("div");
          document.getElementById('para_sugg').appendChild(entry);
      }
      let final_text = data[results[i]].Title+'<br><br>';
      for(let word of data[results[i]].Para.split(' ')) {
        if(accentsTidy(this.innerText).includes(accentsTidy(word))) {
          start = '<span style="color:red;">';
          end = '</span>';
          final_text += start+word+' '+end;
        } else {
          final_text += word+' ';
        }
      }
      entry.innerHTML = final_text + '<br><br>';
      entry.para_result = data[results[i]];
  }

  while(childs.length > len){
      document.getElementById('para_sugg').removeChild(childs[i])
  }

  if((event.key == "Enter" && results.length==1) || (event.key == "Enter" && selected_suggestion)) {
    let p_para = document.createElement("p");
    if(selected_suggestion) {
      p_para.innerText = selected_suggestion.para_result.Para;
    } else {
      p_para.innerText = data[results[0]].Para;
    }
    selected_suggestion = undefined;
    p_para.contentEditable = true;
    document.getElementById('content').append(p_para);
    document.getElementById('actor').focus();
    this.innerText = "";
    while(  document.getElementById('para_sugg').firstChild) {document.getElementById('para_sugg').firstChild.remove();}
  }
}

function accentsTidy(s) {
  var r=s.toLowerCase();
  r = r.replace(new RegExp("\\s", 'g'),"");
  r = r.replace(new RegExp("[àáâãäå]", 'g'),"a");
  r = r.replace(new RegExp("æ", 'g'),"ae");
  r = r.replace(new RegExp("ç", 'g'),"c");
  r = r.replace(new RegExp("[èéêë]", 'g'),"e");
  r = r.replace(new RegExp("[ìíîï]", 'g'),"i");
  r = r.replace(new RegExp("ñ", 'g'),"n");
  r = r.replace(new RegExp("[òóôõö]", 'g'),"o");
  r = r.replace(new RegExp("œ", 'g'),"oe");
  r = r.replace(new RegExp("[ùúûü]", 'g'),"u");
  r = r.replace(new RegExp("[ýÿ]", 'g'),"y");
  r = r.replace(new RegExp("\\W", 'g'),"");
  return r;
}

function showText() {
  $("#choosen_text").show();
  $("#add_text").hide();
  $("#text").hide();
  while(document.getElementById('choosen_text').firstChild) {document.getElementById('choosen_text').firstChild.remove();}
  for(let obj of corpus) {
    if(obj.Title == this.innerText) {
      let title = document.createElement('h1');
      title.innerText = obj.Title;
      title.className = "title_text";
      title.style.color = "black";
      let content = document.createElement('div');
      content.innerText = obj.Content.replace(/'|'/g,'l');
      let cluster = document.createElement('div');
      cluster.id = obj.Title;
      cluster.appendChild(title);
      cluster.appendChild(content);
      document.getElementById('choosen_text').appendChild(cluster);
      window.scroll(0, document.getElementById('choosen_text').offsetTop);
      break;
    }
  }
}

function showPartition() {
  $("#choosen_text").hide();
  $("#add_text").hide();
  $("#text").show();
  document.getElementById('content').innerHTML = this.partition.html;
  document.getElementById('date').innerText = new Date(this.partition.date).toLocaleDateString('fr-FR');
  window.scroll(0, document.getElementById('text').offsetTop);
}

function hideShow() {
  $("#choosen_text").hide();
  $("#add_text").hide();
  $("#text").show();
}

function newPart() {
  $("#choosen_text").hide();
  $("#add_text").hide();
  document.getElementById('date').innerText = new Date(Date().split(' ')[0] +" "+ Date().split(' ')[1] +" "+ Date().split(' ')[2]+" "+ Date().split(' ')[3]).toLocaleDateString('fr-FR');
  document.getElementById('date').dateOriginal = Date().split(' ')[0] +" "+ Date().split(' ')[1] +" "+ Date().split(' ')[2]+" "+ Date().split(' ')[3];
  document.getElementById('content').innerHTML = "";
  $("#text").show();
}

function removeAct() {
  for(let i=0; i<actors.length; i++) {
    if(actors[i].Name == this.act_elem.innerText) {
      actors.splice(i,1);
      break;
    }
  }
  this.act_elem.remove();
  this.remove();
}

function removeText() {
  for(let i=0; i<corpus.length; i++) {
    if(corpus[i].Title == this.title_elem.innerText) {
      removed_text.push(corpus[i].Title);
      corpus.splice(i,1);
      break;
    }
  }
  this.title_elem.remove();
  this.remove();
}

function removePartition() {
  partitions.splice(this.part_elem.partition.id,1);
  for(let i=0; i<partitions.length;i++) {
    partitions[i].id = i;
  }
  document.getElementById('content').innerText = "";
  this.part_elem.remove();
  this.remove();
}

$('#input_add_actor').change(function() {
  actors.push({"Name":this.value,"Color":"black"});
  index_actors.add(actors.length-1,this.value);
  data_actors.push(this.value);
  let p = document.createElement('p');
  p.innerText = this.value;
  let remove_button = document.createElement('button');
  remove_button.act_elem = p;
  remove_button.onclick = removeAct;
  remove_button.innerText = "X";
  let div = document.createElement('div');
  div.append(p);
  div.append(remove_button);
  document.getElementById("list_actors").append(div);
  this.value = '';
});

function addText() {
  $("#choosen_text").hide();
  $("#text").hide();
  $("#add_text").show();
  while(document.getElementById("add_text").firstChild) {document.getElementById("add_text").firstChild.remove();}
  let title = document.createElement('h1');
  title.style.color = "black";
  title.className = "title_text";
  title.contentEditable = true;
  title.style.border = "1px solid black";
  let content = document.createElement('div');
  content.contentEditable = true;
  content.style.border = "1px solid #2E5C9C";
  document.getElementById('add_text').append(title);
  document.getElementById('add_text').append(content);
  window.scroll(0, document.getElementById('add_text').offsetTop);
}

function saveTexts() {
  if(document.getElementById('add_text').style.display != "none" && document.getElementById('add_text').style.display != "") {
    if(document.getElementById('add_text').children[0] && document.getElementById('add_text').children[0].innerText!="") {
      var new_text = {"Title":document.getElementById('add_text').children[0].innerText, "Content":document.getElementById('add_text').children[1].innerText};
      let p = document.createElement('p');
      p.innerText = document.getElementById('add_text').children[0].innerText;
      p.onclick = showText;
      let remove_button = document.createElement('button');
      remove_button.title_elem = p;
      remove_button.onclick = removeText;
      remove_button.innerText = "X";
      let div = document.createElement('div');
      div.append(p);
      div.append(remove_button);
      document.getElementById("list_text").append(div);
      corpus.push(new_text);
      let i = index.length;
      for(let para of new_text.Content.split('\n')) {
        if(para != "") {
          let obj = {'Title':new_text.Title,'Para':para};
          index.add(i,para);
          data.push(obj);
          i++;
        }
      }
      $.post({
        url: window.location.origin+"/kino_app/add_text",
        data: {'new_text': JSON.stringify(new_text), 'project':project},
        dataType: 'json',
        success: function (data) {
        }
      });
    } else {
      alert('no title');
    }
  }
  if(removed_text.length != 0) {
    if(confirm('Are your sure you want to remove '+removed_text.join(', ')+' ?')) {
      $.post({
        url: window.location.origin+"/kino_app/remove_text",
        data: {'removed_text': JSON.stringify(removed_text), 'project':project},
        dataType: 'json',
        success: function (data) {
        }
      });
    }
  }
}

function saveActor() {
  $.post({
    url: window.location.origin+"/kino_app/add_actor_corpus",
    data: {'actors': JSON.stringify(actors), 'project':project},
    dataType: 'json',
    success: function (data) {
    }
  });
}

function savePartition() {
  // console.log(document.getElementById('text').children[0].innerText, new Date(document.getElementById('text').children[1].innerText), document.getElementById('content').innerHTML);
  if(document.getElementById('text').style.display != "none" && document.getElementById('content').innerText != "") {
    var obj_part = {'title': document.getElementById('text').children[0].innerText, 'date':document.getElementById('date').dateOriginal, 'html':document.getElementById('content').innerHTML,
                    'id': partitions.length};
    partitions.push(obj_part);
  }
  for(let p of partitions) {
    p.html = p.html.replace(/"/g,'\\"');
  }
  $.post({
    url: window.location.origin+"/kino_app/save_partition_text",
    data: {'partition': JSON.stringify(partitions), 'project':project},
    dataType: 'json',
    success: function (data) {
    }
  });
}

function exportHTML(){
   var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' "+
        "xmlns:w='urn:schemas-microsoft-com:office:word' "+
        "xmlns='http://www.w3.org/TR/REC-html40'>"+
        "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>";
   var footer = "</body></html>";
   var sourceHTML = header+document.getElementById('text').innerHTML+footer;

   var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
   var fileDownload = document.createElement("a");
   document.body.appendChild(fileDownload);
   fileDownload.href = source;
   fileDownload.download = 'partition.doc';
   fileDownload.click();
   document.body.removeChild(fileDownload);
}

$(document).bind('keydown', function(e) {
  if(e.ctrlKey && (e.which == 83)) {
    e.preventDefault();
    saveTexts();
    saveActor();
    savePartition();
  }
});

</script>
