<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
{% load string_filter %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/index_style.css' %}">
<script src="{% static 'kino_app/jquery.min.js' %}"></script>
<title> Kino AI </title>

<div id='header_info'>
<div id='user_info'>
  <h3>{{user.username}}</h3>
  <div id='log_up'>
  <form action="{% url 'logout' %}" method="post" >
          {% csrf_token %}
          <input type="submit" value="Log Out" class='user_button'/>
      </form>
  <button class="user_button" onclick="manageAccount()">Account</button>
    </div>
</div>
<div class="aside">
  <a class="aside" href="{% url 'kino_app:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
</div>
<h1>Kino AI</h1>
</div>

<div id="account_manager" class="infos" style="display:none;margin-top:10;">
  <h3>Manage </h3>
  <form action="{% url 'kino_app:modify_password' %}" method="post" >
          {% csrf_token %}
          <input type="password" name='old_password' placeholder="Password" class='input_proj'/>
          <input type="password" name='new_password' placeholder="New Password" class='input_proj'/>

          <input type="submit" value="Change password" class='input_proj'/>
      </form>

</div>

<div id="projects_title" style="display:inline-flex;">
  <button class="index_button" onclick="createProject()">Create a new project</button>
  <form id='form_project' action="{% url 'kino_app:create_project' %}" method="post" style="margin:20;" hidden>
          {% csrf_token %}
          <input type="text" name='title' placeholder="Title" class='input_proj'/>
          <input type="date" name='date' placeholder="Date" class='input_proj'class='input_proj'/>
          <input type="text" name='company' placeholder="Company" class='input_proj'/>
          <input type="password" name='password' placeholder="Password" class='input_proj'/>
          <input type="submit" name='submit' value="Create" class='input_proj' style="cursor:pointer;"/>
      </form>
</div>
  <h3 style='padding:15;margin:0;'> Projects</h3>

{% if projects %}
<div id='tabs'>
  <script> var projects = []; </script>
  {% for project in projects %}
    <script> projects.push({'title':"{{project.Name}}", 'company':"{{project.Company}}", 'date':"{{project.Date}}", 'is_password':"{{project.Password}}", 'zero_elem':"{{project.ZeroElem}}"}); </script>
    <div><button class="projects_name index_button" id="{{project.Name}}">{{project.Name|replace_underscore}}</button></div>
  {% endfor %}
</div>
{% endif %}


<form id="upload_post" style="display: none; margin:0;" action="{% url 'kino_app:upload' %}" method="post" >
    {% csrf_token %}
    <input type="submit" value="Upload" class='edit_button'/>
    <input type="hidden" name="title" id="upload_title"/>
</form>

<div id='infos' class='infos' style="display:none;"></div>


<button class="index_button" id='show_list_notebooks' onclick="showListNotebooks(this)" hidden>
  Show created notebooks</button>
<div id='list_notebooks' hidden></div>

<div style='margin: 20 10;'>
  <h3 id='title_video'></h3>
  <div id='book'>    </div>
</div>
<script>
var default_list = [];
var name_clicked;
var take_list = [];
var list_notebook = [];
var user_default_list = [];
var user_name_clicked;
var user_take_list = [];
var previous = "{{ request.session.previous_name }}";
var active_project = "{{ request.session.active_project }}";
if(previous){active_project = previous.split('/')[0];}
var zero_elem = "{{zero_elem}}";
</script>

<span class='default'>
{% if projects %}
  {% for project in projects %}
    <ul id='list_def' class='default_list'>
    {% for name in project.List %}
      <script>
      default_list.push("/media/kino_app/index_images/{{name.path}}/".replace(/&#39;/g,"'").replace(/&#x27;/g,"'"));
      </script>
        <li class='def_list default' id="{{name.path}}"><a><img hidden margin=0 class="sliding_def" border="0" onmouseover="mouseOver()" onmouseout="mouseOut()" src="/media/kino_app/index_images/{{name.path}}/poster0.jpg"></a><p onfocusout="focusout()" onkeypress="changeNameVideo(this)" contenteditable="true" spellcheck="false">{{ name.title|replace_underscore }}</p></li>
    {% endfor %}
    {% for obj in project.Notebook %}
      <script>
      if("{{obj.List}}" != "") {
        list_notebook.push({"Project":"{{project.Name}}","Name":"{{obj.Name}}","Title":"{{obj.Title}}".replace(/&quot;/g,'"').replace(/&#39;/g,'"').replace(/&#x27;/g,'"'),"List":JSON.parse("{{obj.List}}".replace(/&#39;/g,'"').replace(/&#x27;/g,'"'))});
      } else {
        list_notebook.push({"Project":"{{project.Name}}","Name":"{{obj.Name}}","Title":"{{obj.Title}}".replace(/&quot;/g,'"').replace(/&#39;/g,'"').replace(/&#x27;/g,'"'),"List":[]});
      }
      </script>
    {% endfor %}
    </ul>
  {% endfor %}
{% endif %}

{% if take_list %}
    <ul id='list'>
    {% for take in take_list %}
      <script>
      take_list.push("/media/kino_app/index_images/{{take.path}}/".replace(/&#39;/g,"'").replace(/&#x27;/g,"'"));
      </script>
        <li class='row_list' id="{{take.path}}"><a href="{% url 'kino_app:video_editing' take.id %}"><img hidden margin=0 class="sliding" border="0" onmouseover="mouseOver()" onmouseout="mouseOut()" src="/media/kino_app/index_images/{{take.path}}/poster0.jpg"><br>{{ take.path }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</span>


<script>
  var objects = [];
  var objects_def = [];
  var images = document.getElementsByClassName("sliding");
  var images_def = document.getElementsByClassName("sliding_def");
  let off = document.getElementById('logo').offsetHeight - document.getElementById("projects_title").offsetTop+5;
  name_clicked = previous;

  function changeNameVideo(elem) {
    if(event.key=='Enter') {
      event.preventDefault();
      var e = new Event('focusout');
      elem.dispatchEvent(e);
    }
  }

  function focusout() {
    saveChangeSpecific(event.target);
  }

  $.post({
    url: "set_previous",
    async: true,
    data: {'name': ''},
    dataType: 'json',
    success: function (data) {
      // console.log(data);
    }
  });

  document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";
  $('#book').hide();

  for(let check of document.getElementsByClassName('projects_name')) {
    check.onclick = hideShowDefault;
    check.checked = true;
  }

  for(let p of projects) {
    if(p.title == active_project) {
      p.is_password = 'False';
    }
  }

  if(!name_clicked) {
    $('.default_list').hide();
    $('#list').hide();
  } else {
    console.log('previous');
    $('.default_list').hide();
    $('#list').show();
    clickDef();
    var title_proj;
    $('.row_list').each( function() {
      if(this.id.includes(name_clicked)) {
        title_proj=this.id.split('/')[0];
      }
    });
    $('#infos').show();
  }

  $('.row_list').each( function() {
    let first_part = $(this)[0].firstChild.innerHTML.split('<br>');
    let name = $(this)[0].firstChild.innerText.split('/')[$(this)[0].firstChild.innerText.split('/').length-1];
    $(this)[0].firstChild.innerHTML = first_part[0]+'<br>'+name;
  });

  $('.def_list.default a').click(function() {
    name_clicked = $(this).parent()[0].id;
    $('.default_list').hide();
    $('#list').show();
    clickDef();
    resizeFunction();
  });

  function clickDef() {
    $('.row_list').each( function() {
      if(this.id.split('/part')[0] == name_clicked.split('/part')[0]) {
        $(this).show();
        $('#book').empty();
        $('#book').show();
        $('#list_notebooks').hide();
        $('#show_list_notebooks').hide();
        document.getElementById('show_list_notebooks').checked = false;
        $('#book').append(document.createElement('p').innerText = 'Notebook\n');
        $('#title_video').show();
        document.getElementById('title_video').innerText = name_clicked.replace(/\//g,' - ').replace(/_/g,' ');
        let name_choosen = name_clicked.split('/').slice(-2)[0];
        for(let o of list_notebook) {
          if(name_choosen.includes(o.Name)) {
            for(let c of o.List) {
              let a = document.createElement('a');
              a.innerText = c.replace(/_/g,' ');
              a.href = 'video_book/'+$(this)[0].firstChild.href.split('/')[$(this)[0].firstChild.href.split('/').length-1]+'/'+c;
              a.className = 'link_notebook';
              $('#book').append(a);
            }
          }
        }
        let a = document.createElement('a');
        a.innerText = 'New notebook';
        a.href = 'video_book/'+$(this)[0].firstChild.href.split('/')[$(this)[0].firstChild.href.split('/').length-1]+'/new_new';
        a.className = 'link_notebook';
        $('#book').append(a);
        document.getElementById('book').style.margin =  " 20 0";
      } else {
        $(this).hide();
      }
    });
  }

  function hideShowDefault() {
    $('#title_video').hide();
    if(!this.checked && $('.row_list:visible').length==0) {
      $('.default').find("ul, p").hide();
      $('#book').hide();
      $('#infos').hide();
      $('#upload_post').hide();
      $('#show_list_notebooks').hide();
      $('#list_notebooks').hide();
      this.checked = true;
      this.style.background = '#2E5C9C';
      this.style.color = 'white';
      this.style.border = '2px solid #FFFFFF';
    } else {
      $('.projects_name').css({'background':'#2E5C9C','color':'white','border':'2px solid #FFFFFF'});
      this.style.background = 'white';
      this.style.color = '#2E5C9C';
      this.style.border = '2px solid #2E5C9C';
      $('#show_list_notebooks').show();
      document.getElementById('show_list_notebooks').project_name_selected = this.id;
      $('#infos').show();
      let password = false;
      for(let p of projects) {
        if(p.title == this.id) {
          setProjectInfos(p.is_password, p);
          password = p.is_password;
        }
      }
      if(password == 'False') {
        $('#upload_post').show();
        document.getElementById('upload_title').value = this.id;
        var project = this.id;
        $('.def_list').each( function() {
          if(this.id.includes(project) && (this.id.split('/').length>1 && this.id.split('/')[0]==project)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
        $('.default').find("ul, p").show();
        $('#book').hide();
        $('#list').hide();
        resizeFunction();
      } else {
        $('#upload_post').hide();
        $('.default').find("ul, p").hide();
        $('#show_list_notebooks').hide();
        $('#list_notebooks').hide();
        $('#book').hide();
      }
      this.checked = false;
    }
    for(let check of document.getElementsByClassName('projects_name')) {
      if(check.id != this.id)
        check.checked = true;
    }
  }

  function showListNotebooks(this_button) {
    if(this_button.checked) {
      $('#list_notebooks').hide();
      this_button.style.background = '#2E5C9C';
      this_button.style.color = 'white';
      this_button.style.border = '2px solid #FFFFFF';
      this_button.checked = false;
    } else {
      $('#list_notebooks').show();
      $('#list_notebooks').empty();
      document.getElementById('list_notebooks').style.display = 'grid';
      document.getElementById('list_notebooks').style.margin = '10';
      for(let n of list_notebook) {
        if(n.Project == this_button.project_name_selected) {
          if(n.List.length>0) {
            let title = document.createElement('h3');
            title.innerText = n.Title.replace(/_/g,' ');
            title.style.cursor = 'pointer';
            title.onclick = showListNotebooksByName;
            title.list = document.createElement('ul');
            title.list.style.display = 'None';
            for(let notebook_name of n.List) {
              let row = document.createElement('li');
              let link_to_notebook = document.createElement('a');
              let row_list_by_id;
              for(let o of document.getElementsByClassName('row_list')) {
                if(o.id == this_button.project_name_selected+'/'+n.Name+'/part01') {
                  row_list_by_id = o;
                  break;
                }
              }
              link_to_notebook.href = 'video_book/'+row_list_by_id.children[0].href.split('/').pop()+'/'+notebook_name;
              link_to_notebook.innerText = notebook_name.replace(/_/g,' ');
              row.appendChild(link_to_notebook);
              title.list.appendChild(row);
            }
            document.getElementById('list_notebooks').appendChild(title);
            document.getElementById('list_notebooks').appendChild(title.list);
          }
        }
      }
      this_button.style.background = 'white';
      this_button.style.color = '#2E5C9C';
      this_button.style.border = '2px solid #2E5C9C';
      this_button.checked = true;
    }
  }

  function showListNotebooksByName() {
    let prev_vis = this.list.style.display
    $('#list_notebooks ul').hide();
    if(prev_vis == 'none')
      this.list.style.display = 'block';
  }

  var default_def_obj = [];
  for(let p of default_list) {
    let obj = {};
    obj.id = 0;
    obj.path = p;
    default_def_obj.push(obj);
  }
  objects_def = default_def_obj;

  var default_objects = [];
  for(let p of take_list) {
    let obj = {};
    obj.id = 0;
    obj.path = p;
    default_objects.push(obj);
  }
  objects =default_objects;

  $('.row_list').height($('.row_list')[0].clientWidth/2+30);

  var is_form_visible = false;
  function createProject() {
    is_form_visible = !is_form_visible;
    if(is_form_visible)
      $('#form_project').show();
    else
      $('#form_project').hide();
  }

  function manageAccount() {
    if(this.checked) {
      $("#account_manager").hide();
      this.checked = false;
    } else {
      this.checked = true;
      $("#account_manager").show();
    }
  }

  function setProjectInfos(is_password, p) {
    if(is_password == "True") {
      let c = document.createElement('h3');
      c.innerText = 'Password: ';
      let form = document.createElement('form');
      form.method = "post";
      let input = document.createElement('input');
      input.type = "password";
      input.name = "password";
      form.appendChild(input);
      let input_title = document.createElement('input');
      input_title.type = "hidden";
      input_title.name = "title";
      input_title.value = p.title.replace(/_/g,' ');
      form.appendChild(input_title);
      form.action = "{% url 'kino_app:check_project' %}";
      document.body.appendChild(document.getElementById('upload_post'));
      while (document.getElementById('infos').firstChild) {    document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
      document.getElementById('infos').appendChild(c);
      document.getElementById('infos').appendChild(form);
      password = true;
    } else {
      let remove_button;
      if(p.zero_elem == "true") {
        remove_button = document.createElement('button');
        remove_button.className = "edit_button";
        remove_button.id = p.title;
        remove_button.innerText = 'Remove';
        remove_button.onclick = clickRemove;
      }
      let edit_button = document.createElement('button');
      edit_button.className = "edit_button";
      edit_button.id = p.title;
      edit_button.innerText = 'Edit';
      edit_button.onclick = clickEdit;
      let notes_project_button = document.createElement('button');
      notes_project_button.className = "edit_button";
      notes_project_button.id = p.title;
      notes_project_button.innerText = 'Notes';
      notes_project_button.onclick = clickNotes;
      let partition_project_button = document.createElement('button');
      partition_project_button.className = "edit_button";
      partition_project_button.id = p.title;
      partition_project_button.innerText = 'Corpus';
      partition_project_button.onclick = clickCorpus;
      let video_library_button = document.createElement('button');
      video_library_button.className = "edit_button";
      video_library_button.id = p.title;
      video_library_button.innerText = 'Videos';
      video_library_button.onclick = clickLibrary;
      let c = document.createElement('h3');
      c.innerText = 'Company : '+p.company;
      let d = document.createElement('h3');
      d.innerText = 'Date : '+p.date;
      document.body.appendChild(document.getElementById('upload_post'));
      while (document.getElementById('infos').firstChild) {    document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
      document.getElementById('infos').appendChild(document.getElementById('upload_post'));
      document.getElementById('infos').appendChild(edit_button);
      document.getElementById('infos').appendChild(notes_project_button);
      document.getElementById('infos').appendChild(partition_project_button);
      document.getElementById('infos').appendChild(video_library_button);
      if(remove_button)
        document.getElementById('infos').appendChild(remove_button);
      document.getElementById('infos').appendChild(c);
      document.getElementById('infos').appendChild(d);
    }
  }

  function clickRemove() {
    $.post({
      url: "remove_project",
      data: {'title': this.id},
      dataType: 'json',
      success: function (data) {
        document.getElementById(data.success).remove();
        $('#infos').hide();
      }
    });
  }

  function clickEdit() {
    for(let p of projects) {
      if(p.title == this.id) {
        if(this.checked == true) {
          let edit_button = document.createElement('button');
          edit_button.className = "edit_button";
          edit_button.id = p.title;
          edit_button.innerText = 'Edit';
          edit_button.onclick = clickEdit;
          let c = document.createElement('h3');
          c.innerText = 'Company : '+p.company;
          let d = document.createElement('h3');
          d.innerText = 'Date : '+p.date;
          document.body.appendChild(document.getElementById('upload_post'));
          while (document.getElementById('infos').firstChild) {document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
          document.getElementById('infos').appendChild(document.getElementById('upload_post'));
          document.getElementById('infos').appendChild(edit_button);
          document.getElementById('infos').appendChild(c);
          document.getElementById('infos').appendChild(d);
        } else {
          let edit_button = document.createElement('button');
          edit_button.className = "edit_button";
          edit_button.id = p.title;
          edit_button.checked = true;
          edit_button.innerText = 'Hide';
          edit_button.onclick = clickEdit;
          let form = document.createElement('form');
          form.action = "{% url 'kino_app:edit_project' %}";
          form.method = 'post';
          let input_title = document.createElement('input');
          input_title.type = "text";
          input_title.name = "title";
          input_title.value = p.title.replace(/_/g,' ');
          let old_title = document.createElement('input');
          old_title.type = "hidden";
          old_title.name = "old_title";
          old_title.value = p.title;
          let t = document.createElement('h3');
          t.innerText = 'Titre: ';
          let c = document.createElement('h3');
          c.innerText = 'Company : ';
          let d = document.createElement('h3');
          d.innerText = 'Date : ';
          let input_date = document.createElement('input');
          input_date.type = "date";
          input_date.name = "date";
          input_date.valueAsDate = new Date(p.date);
          let input_company = document.createElement('input');
          input_company.type = "text";
          input_company.name = "company";
          input_company.value = p.company;
          let input_submit = document.createElement('input');
          input_submit.type = "submit";
          input_submit.name = "submit";
          input_submit.className = "edit_button";
          input_submit.value = "Save";
          form.appendChild(t);
          form.appendChild(input_title);
          form.appendChild(c);
          form.appendChild(input_company);
          form.appendChild(d);
          form.appendChild(input_date);
          form.appendChild(input_submit);
          form.appendChild(old_title);
          document.body.appendChild(document.getElementById('upload_post'));
          while (document.getElementById('infos').firstChild) {document.getElementById('infos').removeChild(document.getElementById('infos').firstChild);}
          document.getElementById('infos').appendChild(document.getElementById('upload_post'));
          document.getElementById('infos').appendChild(edit_button);
          document.getElementById('infos').appendChild(form);
        }
      }
    }
  }

  function clickNotes() {
    let a = document.createElement('a');
    a.href= "noting_app/"+this.id;
    a.click();
  }

  function clickCorpus() {
    let a = document.createElement('a');
    a.href= "corpus_search/"+this.id;
    a.click();
  }

  function clickLibrary() {
    let a = document.createElement('a');
    a.href= "videos_library/"+this.id;
    a.click();
  }

  function resizeFunction() {
    let height, width;
    if($('.def_list:visible:first')[0]) {
      height = $('.def_list:visible:first')[0].clientWidth/2;
      width = ($('.def_list:visible:first')[0].clientWidth*90/100);
    }
    if(!height) {
      height = $('.row_list:visible:first')[0].clientWidth/2;
    }
    if(!width) {
      width = ($('.row_list:visible:first')[0].clientWidth*90/100);
    }
    $('.row_list').height(height+30);
    let max = 0;
    $('.def_list:visible p').each(function(){
      max = Math.max(max,Math.ceil(this.innerText.length/30)*30);
    });
    $('.def_list:visible').height(height+max);

    // stuff you want to do every second
    for(let i=0; i < images.length; i++){
      if(objects[i].path.includes(name_clicked)) {
        let img = images[i];
        img.hidden = false;
        if(!objects[i].aspect_ratio) {
          objects[i].aspect_ratio = img.width/img.height;
        }
        if(width / objects[i].aspect_ratio > height) {
          img.height = height;
          img.width = height*objects[i].aspect_ratio;

        } else {
          img.width = width;
          img.height = width / objects[i].aspect_ratio;
          let off = (height - img.height)/2;
          img.style.marginTop = off;
        }
      }
    }

    for(let i=0; i < images_def.length; i++){
      // console.log(img);
      let img = images_def[i];
      img.hidden = false;
      if(!objects_def[i].aspect_ratio) {
        objects_def[i].aspect_ratio = img.width/img.height;
      }
      if(width / objects_def[i].aspect_ratio > height) {
        img.height = height;
        img.width = height*objects_def[i].aspect_ratio;

      } else {
        img.width = width;
        img.height = width / objects_def[i].aspect_ratio;
        let off = (height - img.height)/2;
        img.style.marginTop = off;
      }
    }
  }

  var interval;
  function overImages() {
    for(let i=0; i < images.length; i++){
      if(objects[i].path.includes(name_clicked)) {
        let path = objects[i].path;
        let img = images[i];
        if(img.mouseOver) {
          img.src = path+'poster'+objects[i].id+'.jpg';
          objects[i].id = (objects[i].id+1)%10;
        } else {
          objects[i].id = 0;
          img.src = path+'poster'+objects[i].id+'.jpg';
        }
      }
    }
    for(let i=0; i < images_def.length; i++){
      let path = objects_def[i].path;
      let img = images_def[i];
      if(img.mouseOver) {
        img.src = path+'poster'+objects_def[i].id+'.jpg';
        objects_def[i].id = (objects_def[i].id+1)%10;
      } else {
        objects_def[i].id = 0;
        img.src = path+'poster'+objects_def[i].id+'.jpg';
      }
    }
  }

  for(let name of ["sliding","sliding_def"]) {
    for(let img of document.getElementsByClassName(name)) {
      img.onmouseover = function() {
        img.mouseOver = true;
        // overImages();
        interval = setInterval(overImages, 1000);
      }
      img.onmouseout = function() {
        img.mouseOver = false;
        overImages();
        clearInterval(interval);
      }
    }
  }

  $(document).bind('keydown', function(e) {
    if(e.ctrlKey && (e.which == 83)) {
      e.preventDefault();
      console.log('ctrl s = save');
      saveChangeName();
      keyDown = undefined;
      return false;
    }
  });

  function saveChangeSpecific(elem) {
    var path_modified = [];
    path_modified.push({"path":elem.parentNode.id,"new_title":elem.innerText})
    $.post({
      url: "modified_path",
      data: {'path_modified': JSON.stringify(path_modified)},
      dataType: 'json',
      success: function (data) {
      }
    });
  }

  function saveChangeName() {
    var path_modified = [];
    $('.def_list.default p').each(function() {
      let path = {};
      name_clicked = $(this).parent()[0].id;
      path_modified.push({"path":$(this).parent()[0].id,"new_title":this.innerText});
    });
    if(path_modified.length>0) {
      $.post({
        url: "modified_path",
        data: {'path_modified': JSON.stringify(path_modified)},
        dataType: 'json',
        success: function (data) {
        }
      });
    }
  }

 function updateShotsJson(bool) {
   $.post({
     url: "update_json_shots",
     data: {'json_update': bool},
     dataType: 'json',
     success: function (data) {
       console.log('success');
     }
   });
 }

 var logo = document.getElementById("logo");
 window.onresize = resizeFunction;
 if(previous != "") {
   resizeFunction();
 }
 if(active_project!='' && active_project!='wrong password') {
   $("#"+active_project).click();
 } else if(active_project=='wrong password') {
   alert("Wrong password");
 }
</script>
