<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/login_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/presentation.css' %}">
<title> Kino AI </title>


<div id="img_logo">
<img id="logo" width="300" height="300" src="{% static 'kino_app/logo/logo_cut.png' %}" >
</div>

<div class="login">
  <button id='click_login' type="button" name="button" onclick="clickLogin()">Login</button>

  {% if msg %}
    <div id="msg" > {{msg}} </div>
  {% endif %}

  <form id="form_login" action="{% url 'login' %}" method="post" style="display:none;">
          {% csrf_token %}
          <input type="text" name="username" value="{{ username }}" placeholder="Username"><br>
          <input type="password" name="password" value="" placeholder="Password">

          <input type="submit" value="Log In"/>
      </form>

  <!-- <div id="img_logo">
    <a href="{% url 'reset_password' %}" > Reset your password</a>
  </div>  -->
  <button id='click_sign_up' type="button" name="button" onclick="clickSignUp()">Register</button>

  <form id="form_signup" action="{% url 'sign_up' %}" method="post" style="display:none;">
          {% csrf_token %}
          <input type="text" name="email" value="{{ email }}" placeholder="E Mail"><br>
          <input type="text" name="username" value="{{ username }}" placeholder="Username"><br>
          <input type="password" name="password" value="" placeholder="Password"><br>

          <div id='captcha'>
          <input type='text' readonly name="left_part" value="{{left_part}}" class="test_op"> <span id=operator>+</span>
          <input type="number" name="answer" class="test_op"> =
          <input type='text' readonly name="right_part" value="{{right_part}}" class="test_op"><br>
          </div>
          <script>if(parseInt("{{left_part}}") > parseInt("{{right_part}}")){document.getElementById('operator').innerText = '-';}</script>

          <input type="submit" value="Sign up"/>
      </form>

</div>

<div class="presentation">
  <h1 class="title"><span>Présen</span>tation </h1>
  <p>
Kino Ai est un logiciel libre développé dans le cadre du <a class="link" href="https://performance.univ-grenoble-alpes.fr/fr/performance-lab-home-731149.kjsp">performance labs</a>.
Ce logiciel est destiné à des troupes de théatres, des professeurs, des étudiants. Un <a class="link" href="https://gitlab.inria.fr/ronfard/openkinoai/-/wikis/home">wiki</a> est disponible pour plus d'information sur les fonctionnalités de Kino Ai.
<br>
<br>
L'objectif de Kino Ai est de créer une boite d'outil pour le recadrage, le montage, l'annotation de vidéos de répétition théatrale.
Ce logiciel permet l'édition et la visualisation de vidéos.
<br>

<br>

<br>

  </p>
  <h1 class="title"><span>Foncti</span>onnalités</h1>
  <p>
    KinoAi permet de charger une vidéo en plan fixe sur le serveur. Lorsque la vidéo est chargée elle va être analysée à l'aide d'open pose
    un logiciel qui permet de détecter les acteurs présents sur la vidéo. Pour chaque frame et chaque acteur présent sur la vidéo open pose
    créer un tableau avec un ensemble de points qui forme un squelette de personnage.
    <br>
    <img class="images_presentation horizontal" src="{% static 'kino_app/images_presentation/open_pose.png' %}" >
    <br>
    A partir de ces détections l'utilisateur est ensuite capable de créer des plans recadrer sur un ou plusieurs acteurs. La création d'un plan
    peut être paramétré en fonction de la taille, la position sur scene, le regard et la position par rapport aux autres acteurs.
    Le recadrage du plan est calculé et stabilisé automatiquement par Kino Ai en fonction des paramètres choisis par l'utilisateur.
    <br>
    <img class="images_presentation vertical" src="{% static 'kino_app/images_presentation/create_shot.png' %}" >
    <br>
    Avec les plans créés il est possible de faire un montage linéaire de la vidéo original.
    L'utilisateur choisit quel plan il veut afficher à chaque moment de la vidéo.
    <img class="images_presentation horizontal" src="{% static 'kino_app/images_presentation/video_editing.png' %}" >
    <br>
    Il est également possible de prendre des notes sur la vidéo et de créer une partition de la scène à partir des images.

    </p>
  </div>

<<footer> -- Le site Kino Ai est sous licence creative commun --</footer>
<script>
  function clickLogin() {
    var form = document.getElementById('form_login').style.display;
    if(form == "none"){
      document.getElementById('form_login').style.display = "block";
    }else {
      document.getElementById('form_login').style.display = "none";
    }
  }
  function clickSignUp() {
    var form = document.getElementById('form_signup').style.display;
    if(form == "none"){
      document.getElementById('form_signup').style.display = "block";
    }else {
      document.getElementById('form_signup').style.display = "none";
    }
  }
  </script>
