<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/index_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/noting_app.css' %}">
<script src="{% static 'kino_app/jquery.min.js' %}"></script>
<script src="{% static 'kino_app/p5.min.js' %}"></script>
<script src="{% static 'kino_app/flexsearch.min.js' %}"></script>
<script src="{% static 'kino_app/addons/p5.dom.min.js' %}"></script>
<script src="{% static 'kino_app/addons/p5.sound.min.js' %}"></script>
<title> Kino AI </title>

<script>
  var username = "{{username}}";
  var user_notes_json = JSON.parse("{{user_notes}}".replace(/&quot;/g,'"').replace(/&#39;/g,"'").replace(/&amp;/g,"&").replace(/&#x27;/g,"'").replace(/&lt;/g,"<").replace(/&gt;/g,">"));
  console.log("{{user_notes}}");
  var project = "{{project}}";
</script>
<div id='header_info'>

<div class="aside">
  <a class="aside" href="{% url 'kino_app:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
</div>
<h1 >Noting app </h1>
</div>

<div id="add_note">
  <p>Add note : </p>
  <input type="text" id="input_add"/>

  <button id='save_subs'>Download subtitle</button>
  <button id='save_notes'>Download note</button>
  <button id="btn-export" onclick="exportHTML();">Export to word doc</button>
  <button onclick="saveNotes()">Save</button>
  <div>
    <p> Select note </p>
    <select id='all_notes' onchange="setNote(this);"></select>
    <p> Select user </p>
    <select id='all_users' onchange="setUser(this);"></select>
  </div>
</div>

  <div style="margin-left:10;">Notes</div>
<div id="list_note">
</div>

<div id='created_notes'>
</div>

<script>

let off = document.getElementById('logo').offsetHeight - document.getElementById("add_note").offsetTop+15;
document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";
var select_all = document.getElementById("all_notes");
var select_user = document.getElementById("all_users");
var start;
var start_time;
var tab_ind_time = [];
var notes = [];
var curr_note_ind;
var is_dragging = {};
var date_day = [];
var notes_json = [];
for(let n of user_notes_json) {
  if(n.user == username) {
    notes_json = n.data;
  }
  let option = document.createElement('option');
  option.text = n.user;
  select_user.add(option);
}
select_user.value = username;

$('#input_add').change(function() {
  for(let sel of select_user) {
    if(sel.value == username) {
      setUser(sel);
      select_user.value = username;
      break;
    }
  }
  $(".wrap_notes").hide();
  let wrap_note = document.createElement('div');
  wrap_note.className = "wrap_notes";
  let register_notes = document.createElement('div');
  register_notes.className = "register_notes";
  let note = document.createElement('div');
  note.className = "notes";
  note.contentEditable = true;
  note.register = register_notes;
  let div_title = document.createElement('div');
  let title = document.createElement('h3');
  if(isAlreadyTitle($(this).val())) {
    let i=1;
    while(isAlreadyTitle($(this).val()+' ('+i+')')) {
      i++;
    }
    title.innerText = $(this).val()+' ('+i+')';
  } else {
    title.innerText = $(this).val();
  }
  title.contentEditable = true;
  let date = document.createElement('p');
  date.innerText = Date().split('GMT')[0];
  let d = new Date(date.innerText);
  let d_obj = {'d':d.getDate(), 'm':d.getMonth(), 'y':d.getFullYear()};
  if(!isAlreadyDate(date_day, d_obj)) {
    date_day.push({'d':d.getDate(), 'm':d.getMonth(), 'y':d.getFullYear(),
    'text':[date.innerText.split(' ')[0],date.innerText.split(' ')[1],date.innerText.split(' ')[2],date.innerText.split(' ')[3]].join(' '), 'number':d.getTime()});
  }
  div_title.append(title);
  div_title.append(date);
  wrap_note.append(div_title);
  let text_note = document.createElement('div');
  text_note.append(register_notes);
  text_note.append(note);
  text_note.style.overflow = 'auto';
  text_note.style.width = '100%';
  var option = document.createElement("option");
  option.text = $(this).val();
  select_all.add(option);
  wrap_note.append(text_note);
  $('#created_notes').append(wrap_note);
  $(this).val('');
  updateDateList();
  updateEvent();
});

function setNote(sel) {
  $(".wrap_notes").hide();
  $( ".wrap_notes" ).each(function() {
    if(this.children[0].innerText.includes(sel.value)) {
      $(this).show();
    }
  });
}

function setUser(sel) {
  for(let n of user_notes_json) {
    if(n.user == sel.value) {
      notes_json = n.data;
      break;
    }
  }
  while(select_all.firstChild) {select_all.firstChild.remove();}
  $('.wrap_notes').remove();
  if(sel.value != username) {
    loadNotesJson(false);
  } else {
    loadNotesJson(true);
  }
}

function updateEvent() {

  $('.notes').keyup(function(event) {
    if(event.originalEvent.keyCode == 13){
      this.innerText = '';
    }
  });

  $('.notes').keydown(function(event) {
    let last = this.innerText.split('\n')[this.innerText.split('\n').length-1];
    if(last.length==1) {
      let timeCode = Date().split(' ')[4];
      start = timeCode;
      start_time = Date.now();
    }
    if(event.originalEvent.keyCode == 13 && start) {
      let end = Date().split(' ')[4];
      let text = getLastLine(this.innerText.split('\n'));
      let timeCode = document.createElement('p');
      let newNote = document.createElement('p');
      newNote.contentEditable = true;
      newNote.spellcheck = false;
      let note = {};
      note.Start = start;
      note.End = end;
      note.Text = text;
      note.IndexTime = tab_ind_time;
      newNote.innerText = text;
      timeCode.innerText = start + ' - '+end;
      let div = document.createElement('div');
      div.append(timeCode);
      div.append(newNote);
      this.register.append(div);
      this.innerText = '';
      tab_ind_time = [];
      start = undefined;
    }
  });

}

function getLastLine(tab) {
  let text;
  for(let i=tab.length-1;i>=0;i--) {
    if(tab[i]!='') {
      text = tab[i];
      break;
    }
  }
  return text;
}

function to_seconds(string) {
  let tab = string.split(':');
  return parseInt(tab[0])*3600+parseInt(tab[1])*60+parseInt(tab[2]);
}

function to_string(seconds) {
  let hour = Math.floor(seconds/3600);
  return hour*60+Math.floor((seconds/60)%60)+':'+Math.floor(seconds%60);
}

function isToday(someDate) {
  let today = new Date();
  return someDate.getDate() == today.getDate() &&
    someDate.getMonth() == today.getMonth() &&
    someDate.getFullYear() == today.getFullYear();
}


function getNote(down=false,subs=false) {
  let notes = [];
  let wraps = document.getElementsByClassName('wrap_notes');
  for(let w of wraps) {
    if(down && w.style.display == "none") {
      console.log(w);
    } else {
      let note = {};
      note.Title = w.children[0].children[0].innerText;
      note.Date = w.children[0].children[1].innerText;
      let seconds_offset = to_seconds(w.children[0].children[0].innerText.split(' ')[w.children[0].children[0].innerText.split(' ').length-1])
      if (w.children[1].children[0].children.length >= 1) {
        seconds_offset = to_seconds(w.children[1].children[0].children[0].innerText.split('-')[0]);
      }
      console.log(seconds_offset);
      note.Content = []
      let register = w.children[1].children[0].children;
      for(let r of register) {
        let content = {};
        content.Start = r.children[0].innerText.split('-')[0];
        console.log(to_string(to_seconds(content.Start)-seconds_offset));
        content.End = r.children[0].innerText.split('-')[1];
        console.log(to_string(to_seconds(content.End)-seconds_offset));
        if(subs) {
          content.Start = to_string(to_seconds(content.Start)-seconds_offset);
          content.End = to_string(to_seconds(content.End)-seconds_offset);
        }
        content.Text = r.children[1].innerText;
        note.Content.push(content);
      }
      notes.push(note);
    }
  }
  return notes;
}

function clickDate() {
  for(let d of date_day) {
    while(d.tab.firstChild){d.tab.firstChild.remove();}
    if(d.obj === this) {
      if(!this.clicked) {
        this.clicked = true;
        let wraps = document.getElementsByClassName('wrap_notes');
        for(let w of wraps) {
          if(w.children[0].children[1].innerText.includes(d.text)) {
            let row = document.createElement('tr');
            let t = document.createElement('td');
            t.innerText = w.children[0].children[0].innerText;
            t.wrap_note = w;
            t.onclick = clickTitle;
            let da = document.createElement('td');
            let l = w.children[0].children[1].innerText.split(' ').length-1;
            da.innerText = w.children[0].children[1].innerText.split(' ')[l];
            if(da.innerText == '') {
              da.innerText = w.children[0].children[1].innerText.split(' ')[l-1];
            }
            row.append(t);
            row.append(da);
            d.tab.append(row);
          }
        }
      } else {
        this.clicked = false;
      }
    }
  }
}

function clickTitle() {
  $(".wrap_notes").hide();
  $(this.wrap_note).show();
}

function isAlreadyDate(tab,d) {
  let ret = false;
  for(let obj of tab) {
    if(obj.d == d.d && obj.m == d.m && obj.y == d.y) {
      ret = true;
      break;
    }
  }
  return ret;
}

function isAlreadyTitle(title) {
  let ret = false;
  for(let w of document.getElementsByClassName('wrap_notes')) {
    if(w.children[0].children[0].innerText == title) {
      ret = true;
      break;
    }
  }
  return ret;
}

function compare_time(a,b) {
  if (a.number < b.number)
    return -1;
  if (a.number > b.number)
    return 1;
  return 0;
}

function loadNotesJson(is_editable = true) {

  for(let n of notes_json) {
    let wrap_note = document.createElement('div');
    wrap_note.className = "wrap_notes";
    let register_notes = document.createElement('div');
    register_notes.className = "register_notes";
    for(let c of n.Content) {
      let timeCode = document.createElement('p');
      let newNote = document.createElement('p');
      newNote.contentEditable = is_editable;
      newNote.spellcheck = false;
      newNote.innerText = c.Text;
      timeCode.innerText = c.Start + ' - '+c.End;
      let div = document.createElement('div');
      div.append(timeCode);
      div.append(newNote);
      register_notes.append(div);
    }
    let note = document.createElement('div');
    note.className = "notes";
    note.contentEditable = is_editable;
    note.register = register_notes;
    let div_title = document.createElement('div');
    let title = document.createElement('h3');
    title.innerText = n.Title;
    title.contentEditable = is_editable;
    let date = document.createElement('p');
    date.innerText = n.Date;
    let d = new Date(n.Date);
    let d_obj = {'d':d.getDate(), 'm':d.getMonth(), 'y':d.getFullYear()};
    if(!isAlreadyDate(date_day, d_obj)) {
      date_day.push({'d':d.getDate(), 'm':d.getMonth(), 'y':d.getFullYear(),
      'text':[n.Date.split(' ')[0],n.Date.split(' ')[1],n.Date.split(' ')[2],n.Date.split(' ')[3]].join(' '), 'number':d.getTime()});
    }
    div_title.append(title);
    div_title.append(date);
    wrap_note.append(div_title);
    let text_note = document.createElement('div');
    text_note.append(register_notes);
    if(isToday(new Date(n.Date))) {
      text_note.append(note);
    }
    text_note.style.overflow = 'auto';
    text_note.style.width = '100%';
    var option = document.createElement("option");
    option.text = n.Title;
    select_all.add(option);
    wrap_note.append(text_note);
    $('#created_notes').append(wrap_note);
  }
  updateDateList();
  updateEvent();
  $(".wrap_notes").hide();
}
if(notes_json) {
  loadNotesJson();
}

function updateDateList() {
  while(document.getElementById('list_note').firstChild) { document.getElementById('list_note').firstChild.remove(); }
  date_day.sort(compare_time);
  for(let o of date_day) {
    let date = document.createElement('div');
    date.innerText = o.text;
    date.onclick = clickDate;
    let tab = document.createElement('table');
    date.append(tab);
    o.obj = date;
    o.tab = tab;
    document.getElementById('list_note').append(date);
  }
}

function exportHTML(){
   var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' "+
        "xmlns:w='urn:schemas-microsoft-com:office:word' "+
        "xmlns='http://www.w3.org/TR/REC-html40'>"+
        "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>";
   var footer = "</body></html>";
   for(let w of document.getElementsByClassName('wrap_notes')) {
     if(w.style.display!='none') {
       var sourceHTML = header+w.innerHTML+footer;

       var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
       var fileDownload = document.createElement("a");
       document.body.appendChild(fileDownload);
       fileDownload.href = source;
       fileDownload.download = w.innerText.split('\n')[0]+'.doc';
       fileDownload.click();
       document.body.removeChild(fileDownload);
     }
   }
}

function downloadNote(tab) {
  for(let data of tab) {
    var a = document.createElement('a');
    a.title = "link";
    a.href = data['src'];
    a.id = 'click';
    a.download = data['title']+data['extention'];
    console.log(document.getElementById('click'));
    a.click();
    a.remove();
  }
}

function saveNotes() {
  if(select_user.value == username) {
    var notes = getNote();
    $.post({
      url: window.location.origin+"/kino_app/save_notes",
      data: {'notes': JSON.stringify(notes), 'project':project},
      dataType: 'json',
      success: function (data) {
      }
    });
  } else {
    alert('Select your own notes');
  }
}

$(document).bind('keydown', function(e) {
  if(e.ctrlKey && (e.which == 83)) {
    e.preventDefault();
    saveNotes();
  }
});

$( "#save_notes" ).click(function() {
  var notes = getNote(true);
  $.post({
    url: window.location.origin+"/kino_app/download_notes",
    data: {'notes': JSON.stringify(notes)},
    dataType: 'json',
    success: function (data) {
      return downloadNote(data);
    }
  });
});


$( "#save_subs" ).click(function() {
  var notes = getNote(true, true);
  $.post({
    url: window.location.origin+"/kino_app/download_subs",
    data: {'notes': JSON.stringify(notes)},
    dataType: 'json',
    success: function (data) {
      return downloadNote(data);
    }
  });
});

setInterval(function(){
  if(Date.now()/1000 - start_time/1000 > 5) {
    // $('#input_note').trigger("change");
    if(start) {
      start_time=Date.now();
      let text = getLastLine($('.notes')[0].innerText.split('\n'));
      tab_ind_time.push({'ind':text.length, 'time':start_time})
      console.log(text.length, text);
    } else {
      start_time = Infinity;
    }
  }
}, 100);

setInterval(saveNotes,5*60*1000);

String.prototype.replaceAt=function(index, replacement) {
    return this.substr(0, index) + replacement+ this.substr(index + replacement.length);
}

</script>
