<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/sign_up.css' %}">
<title> Kino AI </title>

<div id="img_logo">
  <a href="{% url 'kino_app:index' %}" > <img id="logo" width="480" height="300" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>

</div>

{% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
