<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/sign_up.css' %}">
<title> Kino AI </title>


<div id="img_logo">
<img id="logo" width="480" height="480" src="{% static 'kino_app/logo/logo_cut.png' %}" >
</div>


{% if msg and reset%}
  <div style="text-align:center"> <p>{{msg}}</p>
    <a href="{% url 'login' %}" > log in</a>
  </div>
{% elif msg %}
  <div id="msg"> {{msg}} </div>
{% endif %}

<form action="{% url 'reset_password' %}" method="post" >
        {% csrf_token %}
        <input type="text" name="username" value="{{ username }}" placeholder="Username"><br>
        <input type="text" name="email" value="{{ email }}" placeholder="E Mail"><br>

        <input type="submit" value="Reset your password"/>
    </form>
