<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/sign_up.css' %}">
<title> Kino AI </title>

<div id="img_logo">
<img id="logo" width="480" height="480" src="{% static 'kino_app/logo/logo_cut.png' %}" >
</div>


{% if msg %}
  <div id="msg"> {{msg}} </div>
{% endif %}


<form action="{% url 'sign_up' %}" method="post" >
        {% csrf_token %}
        <input type="text" name="email" value="{{ email }}" placeholder="E Mail"><br>
        <input type="text" name="username" value="{{ username }}" placeholder="Username"><br>
        <input type="password" name="password" value="" placeholder="Password"><br>

        <input type='text' readonly name="left_part" value="{{left_part}}" class="test_op"> <span id=operator>+</span>
        <input type="number" name="answer" class="test_op"> =
        <input type='text' readonly name="right_part" value="{{right_part}}" class="test_op"><br>

        <script>if(parseInt("{{left_part}}") > parseInt("{{right_part}}")){document.getElementById('operator').innerText = '-';}</script>

        <input type="submit" value="Sign up"/>
    </form>
