<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
{% load string_filter %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/sign_up.css' %}">
<title> Kino AI </title>

<div id="img_logo">
  <a href="{% url 'kino_app:index' %}" > <img id="logo" width="480" height="480" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>

</div>

{% if msg %}
  <div id="msg"> {{msg}} </div>
{% endif %}


<form action="{% url 'kino_app:upload' %}" method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  {% if title %}
    <h3> Upload a video into the project {{title|replace_underscore}}</h3>
    <input type="hidden" name="title" value="{{title}}"/>
    <input type="checkbox" id='private' name="private"
         >
     <label for='private'> Private </label>
  {% endif %}
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload Video" name="submit" onClick="clickSub()">
</form>

<div id='wait'></div>
<script>
var div = document.getElementById("wait");
</script>

<script>
function clickSub() {
  var para = document.createElement("p");
  var node = document.createTextNode("Your video is processing...");
  para.appendChild(node);
  div.appendChild(para);
}
</script>
