<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
{% load string_filter %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/index_style.css' %}">

    <script src="{% static 'kino_app/jquery.min.js' %}"></script>
    <script src="{% static 'kino_app/dash.all.min.js' %}"></script>
    <script src="{% static 'kino_app/p5.min.js' %}"></script>
    <!-- <script src="{% static 'kino_app/opencv.js' %}"></script> -->
    <script src="{% static 'kino_app/addons/p5.dom.min.js' %}"></script>
    <script src="{% static 'kino_app/addons/p5.sound.min.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/preparation_editor.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/cadrage_editor.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/split_screen_editor.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/montage_editor.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/annotation_editor.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/export_editor.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/actor_timeline.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/tracklet.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/erase_button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/go_button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/state_button.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/player.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/shots_timeline.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/shot.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/track_bbox_shot.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/bbox_shot.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/annotation_timeline.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/actor_annotation.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/note_editor.js' %}"></script>
    <script src="{% static 'kino_app/kino_ai/partition.js' %}"></script>
    <title> Kino AI </title>

    <script>
        // var json_detec = "{% static 'kino_app/data/' %}{{path}}/detections.json";
        // var json_detec_test = "{{data_detec}}";
        // var data_detects = JSON.parse(json_detec_test.replace(/&quot;/g,'"'));
        var username = "{{username}}";
        var json_data_note = JSON.parse("{{data_note}}".replace(/&quot;/g,'"').replace(/&amp;/g,"&").replace(/&#x27;/g,"'").replace(/&lt;/g,"<").replace(/&gt;/g,">"));
        var user_timeline = JSON.parse("{{user_timeline}}".replace(/&#x27;/g,'"').replace(/&#39;/g,'"'));
        var user_partitions = JSON.parse("{{user_partitions}}".replace(/&#x27;/g,'"').replace(/&#39;/g,'"'));
        let b;
        for(let u of user_partitions){if(u==username){b=true;break;}}
        if(user_partitions.length==0 || !b) {user_partitions.push(username);}
        var sub_granted = true;
        // if("{{owner}}"=="None") {
        //   sub_granted = false;
        // }
        var data_path_video_export = JSON.parse("{{data_path_video_export}}".replace(/&quot;/g,'"'));
        var data_partitions;
        var owner = "{{owner}}";
        var abs_path = "{{abs_path}}";
        var original_width = "{{width}}";
        var original_height = "{{height}}";
        var original_frame_rate = "{{frame_rate}}";
        var id_db = "{{id}}";
        // console.log(original_width, original_height, original_frame_rate);
    </script>
    <script src="{% static 'kino_app/kino_ai/main.js' %}"></script>


    <title>KinoAI</title>
   </head>

   <body>
     <div id='header_info' class="">
     <div class="">
     <a class="" href="{% url 'kino_app:index' %}" ><img class="" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
     </div>
     <div class="" id='user_info'>
       <h2>{{part}}</h2>
       {% if prev_id %}
          <a class="" href="{% url 'kino_app:video_editing' prev_id%}" ><img class=" arrow" width="70" height="35" src="{% static 'kino_app/logo/prev.png' %}" ></a>
        {% endif %}
       {% if next_id %}
          <a class="" href="{% url 'kino_app:video_editing' next_id%}" ><img class=" arrow" width="70" height="35" src="{% static 'kino_app/logo/next.png' %}" ></a>
        {% endif %}
       <form action="{% url 'kino_app:upload_rough' %}" method="post" id='rough'>
               {% csrf_token %}
               <input type="file" name="fileToUpload" id="fileToUpload"/>
               <input type="hidden" id="abs_path" name="abs_path" value="{{abs_path}}">
               <input type="submit" value="Upload" class='user_button'/>
           </form>
     </div>
      <h1 id="video_title" class="">{{title|replace_underscore}}</h1>
    </div>
     <div id="div_player">
         <video id="videoPlayer" controls></video>
         <script>
              (function(){
                  var url = "/media/kino_app/data/{{path}}/mpd/original_dash.mpd";
                  dash_player = dashjs.MediaPlayer().create();
                  dash_player.initialize(document.querySelector("#videoPlayer"), url, false);
              })();
          </script>
     </div>

     <div id='opencv_out' ></div>
     {% block javascript %}
     <script>
     let off = document.getElementById('user_info').offsetHeight - document.getElementById("div_player").offsetTop+10;
     if((document.getElementById('logo').offsetHeight - document.getElementById("div_player").offsetTop)>off) {
       off = document.getElementById('logo').offsetHeight - document.getElementById("div_player").offsetTop +30;
     }
     document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";

     // document.getElementById('logo').onclick = saveTimeline;

     // Attach a submit handler to the form
     function upload(event) {
        event.preventDefault();
        var data = new FormData($('#rough').get(0));

        $.ajax({
           url: $(this).attr('action'),
           type: $(this).attr('method'),
           data: data,
           cache: false,
           processData: false,
           contentType: false,
           success: function(data) {
              let type = data['type'];
              if(type == 'json') {
                let value = JSON.parse(data['data'].replace(/&quot;/g,'"'));
                if(value) {
                  rough_json = value;
                  if(rough_json) {
                    if(exploit_rough) {
                      exploit_rough.remove();
                    }
                    exploit_rough = createButton('Roughisation');
                    html_elements.push(exploit_rough);
                    exploit_rough.side = true;
                    exploit_rough.mousePressed(exploitRoughCut);
                    positionUIElements();
                  }
                }
              } else if(type == 'vtt') {
                $('#div_sub').remove();
                div_sub = undefined;
                let i=0;
                for(let t of video.elt.textTracks) {
                  if(i>0) {
                    t.mode = 'disabled';
                  }
                  i++;
                }
                if(montage_editor) {
                  montage_editor.show_sub.checked(true);
                  montage_editor.is_show_sub = true;
                  if(is_montage_editor) {
                    montage_editor.show_sub.show();
                    console.log(data);
                  }
                }
                setSubtitle(data);
              }
           }
        });
        return false;
      }

      $(function() {
         $('#rough').submit(upload);
      });

      $('body').on('focus', '[contenteditable]', function() {
          const $this = $(this);
          $this.data('before', $this.html());
      }).on('blur keyup paste input', '[contenteditable]', function() {
          const $this = $(this);
          if ($this.data('before') !== $this.html()) {
              $this.data('before', $this.html());
              $this.trigger('change');
              for(let act of preparation_editor.actors_timeline) {
                if($(this).is(act.elem.elt)) {
                  act.setActorName($(this)[0].innerText);
                }
              }
              if($(this).is(shots_timeline.name_elem.elt)) {
                shots_timeline.changeName($(this)[0].innerText);
              }
          }
      });

      $(document).bind('keydown', function(e) {
        if((e.ctrlKey || e.metaKey) && (e.which == 83)) {
          e.preventDefault();
          if(sub_granted) {
            saveTimeline();
          } else {
            console.log("not allowed");
          }

          key_down = undefined;
          return false;
        }
      });

      // window.onload = function() {let zoom = (windowHeight/12)/$('#header_info').height();$('#header_info').css('zoom',zoom);};
     </script>
     {% endblock %}

     <!-- <footer id='footer'>
       Rémi Colin de Verdière - Imagine - Inria
     </footer> -->
  </body>
</html>
