<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->


{% load static %}
{% load string_filter %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/index_style.css' %}">
<script src="{% static 'kino_app/jquery.min.js' %}"></script>
<style type="text/css">
#curr_video, #curr_audio {
  width: 40%;
  margin: 10;
}
#top_info {
  margin-bottom: 100;
  margin: 10;
  padding: 10;
  border: 2px solid #2E5C9C;
  background-color: white;
}
#videos_list, #audios_list {
  overflow: auto;
}
#videos_list li, #audios_list li{
  width: auto;
  border: none;
  margin-left: 10;
  font-size: 20;
}

button, input {
  padding: 5;
  background-color: #2E5C9C;
  color: white;
  cursor : pointer;
  text-decoration: none;
  border: none;
}
input::placeholder {
  color: white;
}
</style>
<title> Kino AI </title>

<div id='header_info'>

<div class="aside">
  <a class="aside" href="{% url 'kino_app:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
</div>
<h1>Videos library</h1>
</div>

<div id="top_info">

  <form id="check_password_library" action="{% url 'kino_app:check_password_library' %}" method="post" >
      {% csrf_token %}
      <h3>Password</h3>
      <input placeholder="password" type="password" name="password" />
      <input type="hidden" name="project" value="{{project}}"/>
      <input type="submit" value="Submit"/>
  </form>

  <form action="{% url 'kino_app:upload_video_library' %}" method="post" enctype="multipart/form-data" id="upload">
    {% csrf_token %}
    <h3> {{project|replace_underscore}}</h3>
    <input type="hidden" name="project" value="{{project}}"/>
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Video" name="submit" onClick="clickSub()">
  </form>

  <script>var videos = []; var audios = [];</script>
  <ul id="videos_list">
  <h3>Videos</h3>
    {% for v in videos %}
      <script> videos.push({'Name':"{{v.Name}}", 'src':"{{v.src}}"}); </script>
      <li><button onclick="clickVideo(this)" class="" id="{{v.src}}">{{v.Name|replace_underscore}}</button></li>
    {% endfor %}
  </ul>
  <ul id="audios_list">
  <h3>Audios</h3>
    {% for a in audios %}
      <script> audios.push({'Name':"{{a.Name}}", 'src':"{{a.src}}"}); </script>
      <li><button onclick="clickAudio(this)" class="" id="{{a.src}}">{{a.Name|replace_underscore}}</button></li>
    {% endfor %}
  </ul>
</div>

<video controls id="curr_video"></video>
<audio controls id="curr_audio"></audio>
<script>
var active_library = "{{ request.session.active_library }}";
var project = "{{project}}";

let off = document.getElementById('logo').offsetHeight - document.getElementById("top_info").offsetTop+15;
document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";

if(active_library == "true") {
  document.getElementById('check_password_library').style.display = "none";
} else {
  document.getElementById('upload').style.display = "none";
  document.getElementById('videos_list').style.display = "none";
  document.getElementById('audios_list').style.display = "none";
}
document.getElementById('curr_video').style.display = "none";
document.getElementById('curr_audio').style.display = "none";
$.post({
  url: window.location.origin+"/kino_app/set_library_false",
  async: true,
  data: {'name': ''},
  dataType: 'json',
  success: function (data) {
    // console.log(data);
  }
});

function clickSub() {
  var para = document.createElement("p");
  para.innerText = "Your video is processing...";
  document.body.appendChild(para);
}

function clickVideo(el) {
  document.getElementById('curr_audio').style.display = "none";
  document.getElementById('curr_audio').pause();
  let vid = document.getElementById('curr_video');
  while(vid.firstChild){vid.firstChild.remove();}
  vid.style.display = "block";
  var sourceMP4 = document.createElement("source");
  sourceMP4.type = "video/mp4";
  sourceMP4.src = el.id;
  vid.appendChild(sourceMP4);
  vid.currentTime =0;
  vid.load();
  vid.play();
  window.scroll(0,vid.offsetTop);
}

function clickAudio(el) {
  document.getElementById('curr_video').style.display = "none";
  document.getElementById('curr_video').pause();
  let audio = document.getElementById('curr_audio');
  while(audio.firstChild){audio.firstChild.remove();}
  audio.style.display = "block";
  var source = document.createElement("source");
  source.type = "audio/ogg";
  source.src = el.id;
  audio.appendChild(source);
  audio.currentTime =0;
  audio.load();
  audio.play();
  window.scroll(0,audio.offsetTop);
}

function removeVideo(video) {
  console.log(video);
  $.post({
    url: window.location.origin+"/kino_app/remove_video_library",
    async: true,
    data: {'path': video.src.split('media')[1], 'project':project},
    dataType: 'json',
    success: function (data) {
      // console.log(data);
    }
  });
}

</script>
