<!--
This file is part of KinoAi project.
It is subject to the license terms in the LICENSE file found in the top-level directory
-->

{% load static %}
{% load string_filter %}
<link rel="stylesheet" type="text/css" href="{% static 'kino_app/kino_ai/stylesheets/book.css' %}">
<script src="{% static 'kino_app/jquery.min.js' %}"></script>
<script src="{% static 'kino_app/lazyload.js' %}"></script>
<script src="{% static 'kino_app/dash.all.min.js' %}"></script>
<script src="{% static 'kino_app/p5.min.js' %}"></script>
<script src="{% static 'kino_app/addons/p5.dom.min.js' %}"></script>
<title> Kino AI </title>

<script> var end, start; var list_id = []; var list_player = []; var tab_json = []; var list_path = [];</script>

<div id='header_info'>
  <div id="authors">
    <h3 style="color:white;"> User list </h3>
    <select id='note_authors' onchange="changeAuthor()"></select>
    <button onclick="modifyNotebook()">Modify</button>
    <button onclick="saveNoteVideo()">Save</button>
  </div>
  <a class="aside" href="{% url 'kino_app:index' %}" ><img class="aside" id="logo" width="140" height="140" src="{% static 'kino_app/logo/logo_cut.png' %}" ></a>
  <h1 id='title'>Notebook </h1>
</div>

<div id="persist-area">
  <h2 id="notebook_title"> {{title|replace_underscore}} </h2>
  <div class='row header'>
    <div class='column left'>
      <h2>Note</h2>
    </div>
    <div class='column center'>
      <h2>Screen view</h2>
    </div>
    <div class='column right'>
      <h2>Stage view</h2>
    </div>
  </div>
</div>
{% for p in path %}
  <script>list_id.push('{{p.id}}'); list_path.push({"path":"{{p.path}}","shots":[]})</script>
  <div id="div_player_{{p.id}}" hidden class='player_container'>
      <video id="videoPlayer_{{p.id}}" controls width="490" height="260"></video>
      <script>
           (function(){
               var url = "/media/kino_app/data/{{p.path}}/mpd/original_dash.mpd";
               dash_player = dashjs.MediaPlayer().create();
               dash_player.initialize(document.querySelector("#videoPlayer_{{p.id}}"), url, false);
           })();
           list_player.push(dash_player);
       </script>
  </div>
{% endfor %}
<div class='row body'>

  <div class='column left'>
    {% if tab %}
      {% for sub_tab in tab %}
        <script> var tab = [];</script>
        {% for t in sub_tab %}
          <div class="sub_text">
            <p style="padding:0; margin:0 0 0 5;" class="timing" id="time_{{t.id}}">{{t.start}} - {{t.end}}</p>
            <h3 style="padding:0; margin:0 0 0 5;" class="note" id="{{t.id}}">{{t.text}}</h3>
            <script>
            // console.log(document.getElementById("{{t.id}}").innerHTML);
            // document.getElementById("{{t.id}}").innerHTML =document.getElementById("{{t.id}}").innerHTML.replace(/\n/g,'<br>').replace(/&lt;/g,'<i').replace(/&gt;/g,'</i>').replace(/<i/g,'<i>');
            </script>
            <p class="paragraph" id="par_{{t.id}}" contenteditable="true" style="padding:0; margin:0 0 0 5;"></p>
            <script> tab.push({"start":'{{t.start}}',"end":'{{t.end}}',"id":parseInt('{{t.id}}')});</script>
          </div>
        {% endfor %}
        <script>tab_json.push(tab);</script>
      {% endfor %}
    {% else %}
      <p>No notes</p>
    {% endif %}
  </div>

  <div class='column center'>
    {% if crop %}
      {% for sub_crop in crop %}
        {% for c in sub_crop.tab %}
          <img style="margin-bottom:2;" class="lazyload" data-src="/media/kino_app/data/{{sub_crop.path}}/{{c}}" src="/media/kino_app/data/{{sub_crop.path}}/{{c}}" width="490" height="260"/>
        {% endfor %}
      {% endfor %}
    {% else %}
        <p>No crop image are available.</p>
    {% endif %}
  </div>

  <div class='column right'>
    {% if full %}
      {% for sub_full in full %}
        {% for f in sub_full.tab %}
          <img class="full" style="margin-bottom:2;" class="lazyload" data-src="/media/kino_app/data/{{sub_full.path}}/{{f}}" src="/media/kino_app/data/{{sub_full.path}}/{{f}}" width="490" height="260"/>
        {% endfor %}
      {% endfor %}
    {% else %}
        <p>No full image are available.</p>
    {% endif %}
  </div>

</div>
<button type="button" name="button" onclick="saveNoteImg()" id="save_button" hidden>Save</button>
<p id='message'></p>

<script>

  var is_in_creation = false;

  window.onload = function(){
    if("{{title}}" == "new_new") {
      newNoteBook();
    }
    for(let tab of tab_json) {
      for(let t of tab) {
        t.text = document.getElementById(stringToTime(t.start).toString()).innerText;
      }
    }
    if(tab_json.length==0) {
      for(let path of list_path) {
        tab_json.push([]);
      }
    }
  };

  for(let path of list_path) {
    $.post({
      url: "../get_full_data_shots",
      async: true,
      data: {'path': path.path},
      dataType: 'json',
      success: function (data) {
        return parseShots(data);
      }
    });
  }

  // Parse the shots json
  function parseShots(data) {
    var new_data_shots = data['data_shots'];

    for (var i=0; i<new_data_shots.length; i++) {
      if(new_data_shots[i].Timeline == 0) {
        let s = {};
        s.type = new_data_shots[i].Type;
        s.start_frame = new_data_shots[i].StartFrame;
        s.end_frame = new_data_shots[i].EndFrame;
        s.bboxes = new_data_shots[i].BBoxes;
        s.actors_involved = new_data_shots[i].ActInvolved;
        s.scenes_involved = new_data_shots[i].ScenesInvolved || [];
        s.aspect_ratio = new_data_shots[i].AspectRatio;
        s.is_gaze_direction = new_data_shots[i].GazeDir;
        s.is_keep_out = new_data_shots[i].KeepOut;
        s.is_pull_in = new_data_shots[i].PullIn;
        s.is_stage_position = new_data_shots[i].StagePos;
        for(let path of list_path) {
          if(path.path == data['path']) {
            path.shots.push(s);
            break;
          }
        }
      }
    }
  }

 var username = "{{username}}";
 var previous_title = document.getElementById('notebook_title').innerText;
 var list_notebooks = JSON.parse("{{list_notebooks}}".replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));
 var curr_end = parseFloat("{{end_total}}");
 var frame_rate = parseInt("{{frame_rate}}");
 var curr_start = 0;
 var following_img;
 var shots = [];

 var crop_json = JSON.parse("{{crop}}".replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));
 var full_json = JSON.parse("{{full}}".replace(/&#39;/g,'"').replace(/&#x27;/g,'"'));

 function changeAuthor() {
   for(let note of tab_full_notes) {
     if(note.Creator == document.getElementById("note_authors").value) {
       tab_notes = note.Notes;
     }
   }
   for(let n of tab_notes) {
     if(document.getElementById("note_authors").value == username) {
       document.getElementById('par_'+n.id).contentEditable = true;
     } else {
       document.getElementById('par_'+n.id).contentEditable = false;
     }
     document.getElementById('par_'+n.id).innerText = n.text;
   }
   if(tab_notes.length == 0) {
     let par = document.getElementsByClassName('paragraph');
     for(let p of par) {
       p.innerText = "";
       if(document.getElementById("note_authors").value == username) {
         p.contentEditable = true;
       } else {
         p.contentEditable = false;
       }
     }
   }
 }

 function newNoteBook() {
   $('#save_button').show();
   $('.row').show();
   $('#message').hide();
   $('.row.body .column.left').empty();
   $('.row.body .column.center').empty();
   $('.row.body .column.right').empty();
   let p = document.createElement('p');
   p.innerHTML = '<p style="padding:0; margin:0 0 0 5;" class="timing" id="time_curr" onclick="setCurrStart()">00:00 -</p>';
   let h3 = document.createElement('h3');
   h3.innerHTML = '<h3 style="padding:0; margin:0 0 0 5;" class="note" contenteditable="true" id="par_curr" onclick="setPlayer()"></h3>';
   let div = document.createElement('div');
   div.className = "sub_text";
   div.appendChild(p);
   div.appendChild(h3);
   $('.row.body .column.left').append(div);
   document.getElementById('time_curr').innerText = timeToString(curr_start)+" - "+timeToString(curr_end);
   document.getElementById('notebook_title').innerText = 'Titre';
   previous_title = document.getElementById('notebook_title').innerText;
   document.getElementById('notebook_title').contentEditable = true;
   is_in_creation = true;
   curr_start = 0;
   $('#div_player_'+curr_id).show();
   resizeImgAndPlayer();
   $('#div_player_'+curr_id).css({top:$('#time_curr').position().top});
 }

 function modifyNotebook() {
   if(!is_in_creation) {
     $('#save_button').show();
     $('.note').attr('contenteditable','true');
     curr_start = stringToTime(document.getElementsByClassName('timing')[document.getElementsByClassName('timing').length-1].innerText.split(' - ')[1]);
     curr_ind = Math.floor(curr_start/600);
     let p = document.createElement('p');
     p.innerHTML = '<p style="padding:0; margin:0 0 0 5;" class="timing" id="time_curr" onclick="setCurrStart()">00:00 -</p>';
     let h3 = document.createElement('h3');
     h3.innerHTML = '<h3 style="padding:0; margin:0 0 0 5;" class="note" contenteditable="true" id="par_curr" onclick="setPlayer()"></h3>';
     let div = document.createElement('div');
     div.className = "sub_text";
     div.appendChild(p);
     div.appendChild(h3);
     $('.row.body .column.left').append(div);
     document.getElementById('time_curr').innerText = timeToString(curr_start)+" - "+timeToString(curr_end);
     document.getElementById('notebook_title').contentEditable = true;
     previous_title = document.getElementById('notebook_title').innerText.replace(/ /g,'_');
     is_in_creation = true;
     currentPlayer = list_player[curr_ind];
     curr_id = list_id[curr_ind];
     curr_data = data_shots[curr_ind];
     $('#div_player_'+curr_id).show();
     resizeImgAndPlayer();
     $('#div_player_'+curr_id).css({top:$('#time_curr').position().top,left:$('.column.right h2').position().left});
     currentPlayer.getVideoElement().currentTime = curr_start%600;
     video = new p5.MediaElement(currentPlayer.getVideoElement());
     window.scrollTo(0,document.body.scrollHeight);
   } else {
     $('#save_button').hide();
     $('.note').attr('contenteditable','false');
     $('.sub_text:last').remove();
     resizeImgAndPlayer();
     $('#div_player_'+curr_id).css({top:$('.timing:last').position().top});
     is_in_creation = false;
   }

 }

 function saveNoteImg() {
   currentPlayer.pause();
   let time = document.getElementById("time_curr");
   let title = document.getElementById('notebook_title').innerText.replace(/ /g,'_');

   if(document.getElementsByClassName('lazyload').length==0) {
     for(let l of list_notebooks) {
       if(l == title){
         alert('Notebook already created change the title');
         return;
       }
     }
   }

   if(curr_start > stringToTime(time.innerText.split(' ').pop())) {
     alert('Start time over end time');
     return;
   }

   let tab_sub = [];

   let obj = {};
   obj.start = stringToTime(time.innerText.split(' ')[0]);
   obj.end = stringToTime(time.innerText.split(' ').pop());
   let text = document.getElementById("par_curr");
   if(text.innerText == "") {
     saveNoteVideo();
     return;
   }
   obj.text = text.innerText;

   if(curr_start%600 > stringToTime(time.innerText.split(' ').pop())%600) {
     for(let n of document.getElementsByClassName('sub_text')) {
       let sub = {};
       let t = n.children[0];
       if(Math.floor(stringToTime(t.innerText.split(' ')[0])/600)==curr_ind-1) {
         sub.start = stringToTime(t.innerText.split(' ')[0]);
         sub.end = stringToTime(t.innerText.split(' ').pop());
         sub.text = n.children[1].innerText;
         tab_sub.push(sub);
       }
     }
     curr_start = obj.end;

     tab_json[curr_ind-1].push({'start':time.innerText.split(' ')[0],'end':time.innerText.split(' ').pop(),'id':obj.start,'text':obj.text});
     obj.start = obj.start%600;

     let last = Math.round(list_player[curr_ind-1].duration() *frame_rate);
     let fr = Math.round(obj.start * frame_rate);
     var bbox = list_path[curr_ind-1].shots[curr_shots_ind].bboxes[fr];

     curr_data = data_shots[curr_ind-1];
     for(let i =0 ;i<last;i++) {
       if(i<fr) {
         if(i == curr_data.length)
          curr_data[i] = "null";
       } else {
         curr_data[i] = list_path[curr_ind-1].shots[curr_shots_ind].bboxes[i];
       }
     }
     curr_data = data_shots[curr_ind];
     last = (stringToTime(time.innerText.split(' ').pop())%600) * frame_rate;
     fr = 0;
     for(let i =0 ;i<last;i++) {
       if(i<fr) {
         if(i == curr_data.length)
          curr_data[i] = "null";
       } else {
         curr_data[i] = list_path[curr_ind].shots[curr_shots_ind].bboxes[i];
       }
     }
     $.post({
        url: "../extract_image_full_crop",
        data: {'id': curr_id, 'path':list_path[curr_ind-1].path, 'previous_title':previous_title, 'title':title, 'bboxes':JSON.stringify(data_shots[curr_ind-1]),
        'next_path':list_path[curr_ind].path, 'next_bboxes':JSON.stringify(curr_data),
         'bbox':JSON.stringify(bbox), 'time':obj.start, 'width':original_width, 'obj':JSON.stringify(obj), 'tab_sub':JSON.stringify(tab_sub)},
        dataType: 'json',
        success: function (data) {
          previous_title = title;
          return setUrlData(data, curr_ind-1);
        }
      });
   } else {
     curr_start = obj.end;
     obj.end = obj.end%600;

     for(let n of document.getElementsByClassName('sub_text')) {
       let sub = {};
       let t = n.children[0];
       if(Math.floor(stringToTime(t.innerText.split(' ')[0])/600)==curr_ind) {
         sub.start = stringToTime(t.innerText.split(' ')[0])%600;
         sub.end = stringToTime(t.innerText.split(' ').pop())%600;
         sub.text = n.children[1].innerText;
         tab_sub.push(sub);
       }
     }

     if(tab_json.length!=list_path) {
       for(let i=0;i<list_path.length;i++) {
         if(i>=tab_json.length) {
           tab_json.push([]);
         }
       }
     }
     tab_json[curr_ind].push({'start':time.innerText.split(' ')[0],'end':time.innerText.split(' ').pop(),'id':obj.start,'text':obj.text});
     obj.start = obj.start%600;

     let fr = Math.round(obj.start * frame_rate);
     var bbox = list_path[curr_ind].shots[curr_shots_ind].bboxes[fr];
     let last = Math.round(obj.end * frame_rate);
     for(let i =0 ;i<last;i++) {
       if(i<fr) {
         if(i == curr_data.length)
          curr_data[i] = "null";
       } else {
         curr_data[i] = list_path[curr_ind].shots[curr_shots_ind].bboxes[i];
       }
     }
     $.post({
        url: "../extract_image_full_crop",
        data: {'id': curr_id, 'path':list_path[curr_ind].path, 'previous_title':previous_title, 'title':title, 'bboxes':JSON.stringify(curr_data),
         'bbox':JSON.stringify(bbox), 'time':obj.start, 'width':original_width, 'obj':JSON.stringify(obj), 'tab_sub':JSON.stringify(tab_sub)},
        dataType: 'json',
        success: function (data) {
          previous_title = title;
          return setUrlData(data, curr_ind);
        }
      });
   }
 }

 function setUrlData(data, data_ind) {
   let src_crop = data['src_crop'];
   let src_full = data['src_full'];
   let obj_text = JSON.parse(data['obj']);
   let parent_el = document.getElementsByClassName('sub_text')[0].parentNode;
   let ind = parent_el.children.length-1;
   let new_el = document.createElement('div');
   new_el.className = "sub_text";
   new_el.innerHTML = '<p style="padding:0; margin:0 0 0 5;" class="timing" id="time_'+obj_text.start+(data_ind*600)+'">'+timeToString(obj_text.start+(data_ind*600))+' - '+timeToString(obj_text.end+(curr_ind*600))+'</p> ';
   new_el.innerHTML += '<h3 style="padding:0; margin:0 0 0 5;" contenteditable="true" class="note" id="'+obj_text.start+(data_ind*600)+'">'+obj_text.text+'</h3>';
   new_el.innerHTML += '<p class="paragraph" id="par_'+obj_text.start+(data_ind*600)+'" contenteditable="true" style="padding:0; margin:0 0 0 5;"></p>';
   parent_el.insertBefore(new_el, parent_el.children[ind]);

   let img_center = document.createElement('img');
   img_center.src = src_crop;
   img_center.style.marginTop = "2px";
   img_center.className = "lazyload";
   img_center.width = 490;
   img_center.height = 260;
   document.getElementsByClassName('center')[1].appendChild(img_center);

   let img_right = document.createElement('img');
   img_right.src = src_full;
   img_right.style.marginTop = "2px";
   img_right.className = "full";
   img_right.onclick = clickFullImg;
   img_right.width = 490;
   img_right.height = 260;
   document.getElementsByClassName('right')[1].appendChild(img_right);

   resizeImgAndPlayer();
   $('#div_player_'+curr_id).css({top:$('#time_curr').position().top});

   document.getElementById('par_curr').innerText = "";
   window.scrollTo(0,document.body.scrollHeight);
 }

 function setCurrStart() {
   curr_start = currentPlayer.time()+curr_ind*600;
 }

 function setPlayer() {
   // resizeImgAndPlayer();
   $('#div_player_'+curr_id).css({top:$('#time_curr').position().top});
   window.scrollTo(0,document.body.scrollHeight);

 }

  window.addEventListener("load", function(event) {
      lazyload();
  });

  let off = document.getElementById('logo').offsetHeight - document.getElementById("persist-area").offsetTop+5;
  document.getElementById('header_info').style.padding =  " 0 0 "+off.toString()+" 0";
  $('#div_player_'+list_id[0]).show();
  $('.player_container').css({position:'absolute'});
  $('#div_player_'+list_id[0]).css({top:document.getElementsByClassName('right')[0].offsetHeight+document.getElementsByClassName('right')[0].offsetTop, left:$( '.column.right ' ).position().left});

  var str = "{{json_shots}}";
  var data_shots = JSON.parse(str.replace(/&quot;/g,'"'));
  var json_notes = "{{json_notes}}".replace(/\n/g,"\\n").replace(/&#39;/g,"'");
  var tab_full_notes = JSON.parse(json_notes.replace(/&quot;/g,'"'));
  if(tab_json) {
    for( let t of tab_json ) {
      if(t.length==0) {
        $(".row").hide();
        document.getElementById('message').innerText = "Aucun carnet";
        break;
      }
    }
  }

  var tab_notes;
  let select_author = document.getElementById("note_authors");
  for(let note of tab_full_notes) {
    if(note.Creator == '{{username}}') {
      tab_notes = note.Notes;
    }
    let option = document.createElement("option");
    option.text = note.Creator;
    select_author.add(option);
  }
  var index_first = parseInt("{{index_first}}");
  var curr_data = data_shots[index_first];
  var video = new p5.MediaElement(list_player[index_first].getVideoElement());
  var canvas;
  var currentPlayer = list_player[index_first];
  var curr_id = list_id[index_first];
  if(!is_in_creation)
    $('#div_player_'+curr_id).hide();
  var curr_ind = index_first;
  var curr_shots_ind=0;
  var prev_width = 1;
  var prev_height = 1;

  function setup() {
    canvas = createCanvas(video.width, video.height);
  }
  var original_width = parseInt("{{width}}");
  var scale_ratio = video.elt.videoWidth/original_width;
  var aspect_ratio = video.elt.videoWidth/video.elt.videoHeight;

  function draw() {

    scale_ratio = video.elt.videoWidth/original_width;
    aspect_ratio = video.elt.videoWidth/video.elt.videoHeight;

    if(prev_width!=windowWidth || prev_height!=windowHeight) {
      if(resizeImgAndPlayer()) {
        prev_width=windowWidth;
        prev_height=windowHeight;
      }
    }
    var bbox = [0,0,video.elt.videoWidth,video.elt.videoHeight];
    if(is_in_creation || !currentPlayer.isPaused()){
      let fr = Math.round(currentPlayer.getVideoElement().currentTime * frame_rate);
      let b ;
      if (curr_data[fr]) {
        b = curr_data[fr];
      }
      if(is_in_creation && list_path[curr_ind].shots.length!=0)
        b = list_path[curr_ind].shots[curr_shots_ind].bboxes[fr];
      if(b!='null' && b) {
        bbox = [b[0]*scale_ratio, b[1]*scale_ratio, b[2]*scale_ratio, b[3]*scale_ratio];
      }
      if(!fullscreen()) {
        canvas.position($('.center').position().left, $('#div_player_'+curr_id).position().top);
      } else {
        canvas.position(0,0);
      }
      image(video, 0, 0, width, height, bbox[0], bbox[1], bbox[2] - bbox[0], bbox[3] - bbox[1]);

      let time = currentPlayer.time();
      time+=600*curr_ind;
      if(document.getElementById('time_curr'))
        document.getElementById('time_curr').innerText = timeToString(curr_start)+" - "+timeToString(time);
    }

    updatePlayer();
  }

  function mousePressed() {
    if(0<mouseX && mouseX<width && 0 < mouseY && mouseY<height) {
      if(currentPlayer.isPaused()) {
        currentPlayer.play();
      } else {
        currentPlayer.pause();
      }
    }
  }

  function doubleClicked() {
    let fs = fullscreen();
    if(0<mouseX && mouseX<width && 0 < mouseY && mouseY<height) {
      fullscreen(!fs);
      canvas.size(windowWidth,windowHeight);
    }
  }


  function keyPressed() {
    if((!document.activeElement.isContentEditable)) {
      // up arrow
      if(keyCode == 38) {
        this.event.preventDefault;
        curr_shots_ind = Math.min(curr_shots_ind+1,list_path[curr_ind].shots.length-1);
      }
      // down arrow
      if(keyCode == 40) {
        this.event.preventDefault;
        curr_shots_ind = Math.max(curr_shots_ind-1,0);
      }
      // n key 78 + b key 66
      if(keyCode == 78 || keyCode == 66) {
        if(is_in_creation) {
          if(keyCode == 78)
            curr_ind = Math.min(curr_ind+1,list_id.length-1);
          if(keyCode == 66)
            curr_ind = Math.max(curr_ind-1,0);
          changePlayer();
        }
      }
    }
  }

  function updatePlayer() {
    if(!is_in_creation && end && (start || start==0) && (currentPlayer.getVideoElement().currentTime > end || currentPlayer.getVideoElement().currentTime < start)) {
      var e = new Event('click');
      if(!following_img) {
        following_img = document.getElementsByClassName('full')[0];
      }
      window.scrollTo(0, following_img.offsetTop);
      following_img.dispatchEvent(e);
      // following_img = following_img.nextSibling.nextSibling;
      // currentPlayer.getVideoElement().currentTime = start;
      // currentPlayer.pause();
    }
    if(round_prec(currentPlayer.getVideoElement().currentTime,2) == round_prec(currentPlayer.duration(),2)) {

      curr_ind = Math.min(curr_ind+1,list_id.length-1);
      changePlayer();

      end = end%600;
      start = 0;
    }
  }

  function changePlayer(play = true) {
    for(let player of list_player) {
      player.pause();
    }
    let top = $('#div_player_'+curr_id).position().top;
    if(document.getElementById('time_curr')) {
      top = $('#time_curr').position().top;
    }
    for(let i=0; i<list_id.length; i++) {
      if(curr_ind==i) {
        currentPlayer = list_player[i];
        curr_id = list_id[i];
        curr_ind = i;
        curr_data = data_shots[i];
        $('#div_player_'+list_id[i]).show();
      } else {
        list_player[i].pause();
        $('#div_player_'+list_id[i]).hide();
      }
    }
    resizeImgAndPlayer();
    $('#div_player_'+curr_id).css({top:top,left:$('.column.right h2').position().left});
    video = new p5.MediaElement(currentPlayer.getVideoElement());
    if(play) {
      currentPlayer.play();
    }
  }

  $('.full').click(clickFullImg);

  function clickFullImg() {
    for(let i=0; i<list_id.length; i++) {
      let src = 'part'+$(this)[0].currentSrc.split('part')[1].split('/')[0];
      if(list_path[i].path.includes(src)) {
        following_img = $(this)[0].nextSibling.nextSibling;
        currentPlayer = list_player[i];
        curr_id = list_id[i];
        curr_ind = i;
        curr_data = data_shots[i];
        $('#div_player_'+list_id[i]).show();
      } else {
        $('#div_player_'+list_id[i]).hide();
      }
    }
    video = new p5.MediaElement(currentPlayer.getVideoElement());
    let time = parseInt($(this)[0].src.split('.png')[0].split('/')[$(this)[0].src.split('.png')[0].split('/').length-1]);

    start = time;
    time+=600*curr_ind;

    end = stringToTime(document.getElementById('time_'+time).innerText.split('-').pop());
    if(curr_ind!=0) {
      if(Math.floor(end/600) != curr_ind) {
        end = (end-curr_ind*600)%1200;
      } else {
        end = end%(600*curr_ind);
      }
    }
    if(!end) {
      end = currentPlayer.duration();
    }
    $('#div_player_'+curr_id).css({top:$( this ).position().top, left:$( this ).position().left});
    currentPlayer.getVideoElement().currentTime = start;
    currentPlayer.play();
    prev_width=1;
  }

  $(document).bind('keydown', function(e) {
    if(e.ctrlKey && (e.which == 83)) {
      e.preventDefault();
      // console.log('ctrl s = save');
      saveNoteVideo();
    }
  });

  function saveNoteVideo() {
    var note_tab = [];
    var tab_sub = [];
    let i=0;
    for(let sub_tab of tab_json) {
      let obj_subtitle = {};
      obj_subtitle.path = list_path[i].path;
      obj_subtitle.tab = [];
      for(let t of sub_tab) {
        if(t.start) {
          if(Math.floor(stringToTime(t.start)/600) == Math.floor(stringToTime(t.end)/600)) {
            obj_subtitle.tab.push({'start':stringToTime(t.start)%600, 'end':stringToTime(t.end)%600,'text': document.getElementById(t.id).innerText});
          } else {
            obj_subtitle.tab.push({'start':stringToTime(t.start)%600, 'end':(stringToTime(t.end)-Math.floor(stringToTime(t.start)/600)*600)%1200,'text': document.getElementById(t.id).innerText});
          }
        }
        t.text = document.getElementById(t.id).innerText;
        note_tab.push({'id':t.id,'text':document.getElementById('par_'+t.id).innerText});
      }
      tab_sub.push(obj_subtitle);
      i++;
    }
    $.post({
      url: "../save_note_video",
      data: {'id': curr_id, 'data_sub':JSON.stringify(tab_sub), 'note_tab':JSON.stringify(note_tab),'path':list_path[0].path, 'previous_title':previous_title.replace(/ /g,'_')},
      dataType: 'json',
      success: function (data) {
        return callBack(data);
      }
    });
  }

  function resizeImgAndPlayer() {
    if(aspect_ratio) {
      if(!fullscreen()) {
        $('.column').show();
        $('#div_player_'+curr_id).show();
        let width = document.getElementsByClassName('column center')[0].offsetWidth-10;
        let height = Math.floor(width / aspect_ratio);
        if(!curr_id) {
          curr_id = list_id[0];
        }
        document.getElementById('videoPlayer_'+curr_id).width = width;
        document.getElementById('videoPlayer_'+curr_id).height = height;
        canvas.size(width, height);
        for(let class_name of ['lazyload', 'full']) {
          let images = document.getElementsByClassName(class_name);
          for(let i=0; i < images.length; i++){
            let img = images[i];
            img.width = width;
            img.height = height;
          }
        }
        $('.column.left h3').each(function() {
          $(this).height((height+2-18)/2);
          $(this)[0].innerHTML = $(this)[0].innerHTML.replace(/\n/g,'<br/>');
          $(this).css('overflow','auto');
        });
        $('.column.left .paragraph').each(function() {
          $(this).height((height+2-18)/2);
          $(this).css('overflow','auto');
        });
        if(tab_notes) {
          for(let n of tab_notes) {
            if(document.getElementById('par_'+n.id)) {
              document.getElementById('par_'+n.id).innerText = n.text;
            }
          }
        }
      } else {
        let width = windowWidth;
        let height = Math.floor(width / aspect_ratio);
        canvas.size(width, height);
        window.scrollTo(0,0);
        $('.column').hide();
        $('#div_player_'+curr_id).hide();
      }

      return true;
    } else {
      return false;
    }
  }

  // Add 0 if one digit
  function toTwoDigit(str) {
    if(str.length == 1) {
      return '0'+str;
    } else {
      return str;
    }
  }

  function timeToString(time) {
    let hour;
    if( Math.floor(time/60) > 60 ){
      hour = Math.floor(time/60)%60;
    }
    let min = toTwoDigit((Math.floor(time/60)%60).toString());
    let sec = toTwoDigit(Math.floor(time%60).toString());
    if(hour) {
      return hour +':'+ min +':'+sec;
    }
    return min +':'+sec;
  }

  function stringToTime(time) {
    let tab = time.split(':');
    if(tab.length==2) {
      let sec = parseInt(tab[1]);
      let min = parseInt(tab[0]);
      return min*60+sec;
    } else if (tab.length==3) {
      let sec = parseInt(tab[2]);
      let min = parseInt(tab[1]);
      let hour = parseInt(tab[0]);
      return hour*3600+min*60+sec;
    }
  }

  function round_prec(value, precision) {
      var multiplier = Math.pow(10, precision || 0);
      return Math.round(value * multiplier) / multiplier;
  }


</script>
